[2016-12-06 16:01] karimnaaji commented on #1147
At a first look it looks like the framework you gave in the `.zip` doesn't have bitcode compared to the one that is built on my local machine:

[code]

[2016-12-06 16:04] karimnaaji commented on #1147
Another thing to look at would be this step in the build system:

https://github.com/tangrams/tangram-es/blob/master/Makefile#L343

It seems possible that lipo breaks the bitcode.

[2016-12-06 16:11] Guillaume227 commented on #1139
thanks for the suggestion !
A new development is that I have successfully run the demo app from a Windows 10 machine, without making any of the changes you advocate.
I took care to align the Android Studio, SDK, tools etc. with the windows 7 machine I have the original problem on, but still no luck on that older OS.
So that could be down to some of the linux compatibility changes in Windows 10, li

[2016-12-06 17:13] blair1618 commented on #1139
That's great news! Does the Windows 10 machine have "Bash on Ubuntu on Windows" installed? That would explain why the shell script worked.

It sounds like the ".sh" -> ".bat" change didn't solve the problem on the Windows 7 machine?

[2016-12-06 17:57] Guillaume227 commented on #1139
The ".sh" -> ".bat" didn't help in my case but I didn't investigate why in depth after noticing the different behavior on windows 10.

It turns out I don't even have the "Bash on Ubuntu on Windows" feature activated.
So maybe that's just the powershell and windows 10 out of the box.
Anyway it's pretty cool.

Thanks Matt.

[2016-12-06 18:06] msmollin commented on #1147
Seems like at initial inspect, `lipo` might be the culprit.

[code]

[2016-12-06 19:08] MyZeD opened #1148 "README.txt in NDK-Directory is obsolete"
Problem like: https://github.com/tensorflow/tensorflow/issues/1468#issuecomment-196133186

Got this Problem with CMake.
Source in https://github.com/tangrams/tangram-es/blob/master/toolchains/android.cmake#L11

Thanks :)

[2016-12-06 19:29] msmollin commented on #1147
@karimnaaji looks like we might actually be OK, kinda. I found this  post detailing some of the issues: https://medium.com/@heitorburger/static-libraries-frameworks-and-bitcode-6d8f784478a9#.q7l4sjbpj

[2016-12-06 19:31] msmollin commented on #1147
Per that post, we just need to add `-fembed-bitcode` and that should make it happy, or use "BITCODE_GENERATION_MODE" which is also mentioned in the Alamofire link I mentioned in my original post. They went with BITCODE_GENERATION_MODE but I think either should be fine?

[2016-12-06 19:48] blair1618 commented on #1148
We currently require NDK r10e for building the master branch, as noted in our README: https://github.com/tangrams/tangram-es#android

As you say, NDK versions r11 and newer don't contain this file, but they also make substantial changes to the layout of the NDK files and are therefore not backwards compatible with many build processes.

We have a work-in-progress branch that supports building with

[2016-12-06 19:49] blair1618 commented on #1139
:+1:

[2016-12-06 19:49] #1139 closed

[2016-12-06 19:55] MyZeD commented on #1148
Okay, thank you

[2016-12-06 19:55] #1148 closed

[2016-12-06 21:44] #1122 closed

[2016-12-06 22:08] #1140 closed

[2016-12-06 23:08] #1108 closed

[2016-12-07 18:10] sdhuru commented on #1137
I've been having the same problem as wardo.  I've been trying to install tangram-es using a raspberry pi 2 and 3 with a fresh/clean OS install and get the same errors.  I'll go through and capture all the compile messages, but it is pretty much the same as wardo shows, including the last post with the image and release info.  I will try again this evening and can post the compile output.

[2016-12-07 23:38] wardo001 commented on #1137
hi sdhuru. good to know that i haven't missed something obvious.

i recently tried re-cloning the github repository using the "-b master" switch and rebuilt everything, but the same errors.

i think the next step for me now is to go back to the previous raspbian image that patricio is using (Linux 4.1.19-v7+ 2016 armv7l GNU/Linux Raspbian) and see if i can get tangram-es running on that.

there is

[2016-12-08 17:06] wardo001 commented on #1137
Well done Patricio - will stay tuned - let me know if I can help ...

Wardo.

[2016-12-08 21:16] patriciogonzalezvivo opened #1154 "Segmentation fault in AMI on paparazzi"
[code]

[2016-12-08 21:18] tallytalwar commented on #1154
This can not be repro on my local machine. Only happens on amazon instance.

@hjanetzek or @karimnaaji can you see anything odd with the alfons stack trace here?

[2016-12-08 21:25] patriciogonzalezvivo commented on #1154
Happy to give access to the server just DM me a public ssh key

[2016-12-08 21:26] karimnaaji commented on #1154
The crash seems to come from here https://github.com/hjanetzek/alfons/blob/input-source-cb/src/alfons/freetypeHelper.h#L105.

And the library is initialized from a font face here https://github.com/hjanetzek/alfons/blob/0032017732b82a399f249b5967e6edbabced9dc1/src/alfons/fontFace.cpp#L97.

Is there any log error? (Missing font or anything else relating to that)

[2016-12-08 21:28] tallytalwar commented on #1154
If you look at the stack trace, its actually at Map Init -> Scene Init -> FontConfig Init -> alfons::FontManager init.

[2016-12-08 21:44] tallytalwar commented on #1154
I think its probably some issue on the installed `libfreetype` on the amazon instance.

[2016-12-08 21:46] patriciogonzalezvivo commented on #1154
Interesting! that makes sense because the freetype library is old
[code]

[2016-12-08 21:53] patriciogonzalezvivo commented on #1154
Learning that I'm not the first one on compiling `freetype` in AMI

https://github.com/Automattic/node-canvas/wiki/Installation---Amazon-Linux-AMI-(EC2)

[2016-12-08 21:54] tallytalwar commented on #1154
https://github.com/nickguletskii/GLXOSD/issues/33

[2016-12-08 21:58] karimnaaji commented on #1154
We use freetype 2.6 on tangram-es.

[2016-12-09 09:46] ivangorelow opened #1156 "Marker setDrawable"
wheh I call function setDrawable, I have exception

[2016-12-09 13:38] tallytalwar commented on #1156
Can you post more stack from the logs?

Also are you using the very latest release? https://github.com/tangrams/tangram-es/releases/tag/0.4.6-android

[2016-12-09 14:01] ivangorelow commented on #1156
yes, I use 0.4.6

                  java.lang.ArrayIndexOutOfBoundsException: length=512; index=512
                      at com.mapzen.tangram.Marker.setBitmap(Marker.java:188)
                      at com.mapzen.tangram.Marker.setDrawable(Marker.java:72)
                      at com.impulsm.mobileclientcodd.controllers.MapViewController.addMarkers(MapViewController.java:388)

[2016-12-09 14:09] ivangorelow commented on #1156
your function works only with square drawable

[2016-12-09 14:26] tallytalwar commented on #1156
Yup, was a typo in the code. Should be fixed by #1157. Will probably cut a patched release today.

[2016-12-09 14:30] #1156 closed

[2016-12-09 15:52] tallytalwar commented on #1154
Resolved by updating `libfreetype`.

[2016-12-09 15:52] #1154 closed

[2016-12-09 16:01] tallytalwar commented on #1059
[0.4.6-android](https://github.com/tangrams/tangram-es/releases/tag/0.4.6-android) should take care of this issue. Can you give this a try? Going to close this issue, if you still find similar issues please free to reopen this or open a new one.

Thanks

[2016-12-09 16:01] #1059 closed

[2016-12-09 19:09] msmollin opened #1159 "Add BOOL return type requirement to TGRecognizerDelegate protocol methods"
This will allow us to determine if we should continue the default interaction processing or not.

[2016-12-09 19:09] msmollin commented on #1159
CC @karimnaaji

[2016-12-09 19:10] karimnaaji commented on #1159
👍

[2016-12-10 23:34] westnordost opened #1162 "Markers don't show (Android)"
I am testing the new marker api for Android. I want to display the current location as a marker. However, it does not seem to show at all. There is no error or info message on the log.

Android 5.1, Tangram-ES 0.4.6.

I do the following:
- When the map controller becomes available:
[code]
- in `onLocationChanged(Location location)`
[code]
and finally `ownLocation.setVisible(false);` when ending to

[2016-12-10 23:42] westnordost opened #1163 "Registering clicks on markers (Android)"
This is a question regarding the new marker API on Android:
_How do I register clicks on markers and how do I get the information which marker was clicked?_

It seems there is neither a `setClickListener` on the `Marker` class nor a `setMarkerClickListener(int markerId)` on the `MapController`. So, if for markers, the `setFeaturePickListener` is used as well, then how do I know the marker ID?

[2016-12-10 23:45] westnordost commented on #1135
Since you just released the marker API in 0.4.6, perhaps here the question: Are the markers intended to be added in huge amounts? I.e. is the data structure in which they are kept eligible for that?

[2016-12-11 13:43] westnordost opened #1164 "Props list in onFeaturePick empty"
In 0.4.5, the map passed to `onFeaturePick(Map<String, String> props, float positionX, float positionY)` would include whatever keys and values were present for the picked feature.

In 0.4.6 without having changed my code, the map is simply empty.

The relevant code is (that I do register the feature pick listener goes without saying).
[code]

[2016-12-12 15:17] karimnaaji commented on #1164
Hi @westnordost ,

We are sorry that this behavior was not properly mentioned on the release update, but this has been changed on https://github.com/tangrams/tangram-es/pull/1076.

We found more appropriate to have a 1:1 relation between the user feature request, and the callback, meaning that every request finishes with a callback even if this one didn't result in an actual selection of a feature

[2016-12-12 15:20] karimnaaji commented on #1163
Hey, this is currently a work in progress, you can follow the core library work on https://github.com/tangrams/tangram-es/pull/1161, this will follow in iOS and Android platform layer update. Thoughts are welcome!
You can expect this feature to come in the next release of Tangram.

[2016-12-12 17:24] blair1618 commented on #1162
Try adding `color: white` to the styling string. This won't actually change the color of your icon but it is currently a required parameter for styling rules, for complicated reasons. There are certainly ways we can make it easier to style markers :\

[2016-12-12 18:11] westnordost commented on #1163
Okay, then I close this issue.

[2016-12-12 18:23] westnordost commented on #1164
Hmm, I don't really get how the change reflects in how tangram-ES is to be used. So the onFeaturePick(...) callback does not exist anymore and is replaced by another callback that contains more/other information? I don't understand.

[2016-12-12 18:44] karimnaaji commented on #1164
`pickFeature ` selects geometry features https://github.com/tangrams/tangram-es/blob/master/android/tangram/src/com/mapzen/tangram/MapController.java#L654.
`pickLabel` selects label features https://github.com/tangrams/tangram-es/blob/master/android/tangram/src/com/mapzen/tangram/MapController.java#L674

We were not able to select geometry features on previous version of tangram-es, this has been

[2016-12-12 19:01] westnordost commented on #1164
I think what I do not understand is what is (the difference between) a label feature / geometry feature? Can a label feature have geometry? Can a geometry feature have properties (i.e. "building=yes", "my_custom_property=x")?

[2016-12-12 20:09] karimnaaji commented on #1164
I hope I'm not making this as complicated as pronouncing my name:
- Geometry feature: anything fitting under polygons and polylines styles.
- Label feature: anything fitting under text and icon styles.
And yes both are those would have their properties associated with it! (so anything that was in the tile data: "building=yes", "my_custom_property=x"...)

OT: I'm actually not sure! But hearing the

[2016-12-12 20:56] westnordost commented on #1164
Ah, I see. Thanks for clearing that up!

OT: My friend's last name was pronounced "Naʤ" (like Du**tch**). I think he changes his name by now because it got on his nerves that people kept pronouncing his name wrong though ;-).

[2016-12-12 20:56] #1164 closed

[2016-12-13 00:39] ecgreb opened #1167 "Unable to get callback for client data source point with properties"
Currently when adding a point with properties to the map using a client data source it is not possible to retrieve those properties using `pickFeature()` or `pickLabel()`.

1. When calling `MapController.pickFeature()` on the visible point marker the `FeaturePickListener` is invoked but the `properties` map is empty.

2. When calling `MapController.pickLabel()` on the visible point marker the `Lab

[2016-12-13 06:08] #1106 closed

[2016-12-13 11:27] ivangorelow opened #1168 "zoom filter for marker"
Is it possible to set zoom filter for marker?

[2016-12-13 11:28] ivangorelow commented on #1167
And I have the same problem

[2016-12-13 16:39] blair1618 commented on #1168
No, for dynamic filtering of features you would want to create a new data source instead (`MapData` on Android).

[2016-12-13 16:39] #1168 closed

[2016-12-13 17:40] patriciogonzalezvivo commented on #1137
Hi guys, I think I had a solution for this https://github.com/tangrams/tangram-es/tree/rpi_link_fix Do you mind giving a try? thanks!

[code]

[2016-12-13 18:56] wardo001 commented on #1137
Dude! Yes, will try asap - hopefully this evening, if not tomorrow ...

[2016-12-14 18:22] karimnaaji commented on #1163
We can leave this open until https://github.com/tangrams/tangram-es/pull/1161 is on master.

[2016-12-14 20:48] tallytalwar commented on #978
Just noticed this happening on master:

Stacktrace:
[code]

[2016-12-14 22:07] karimnaaji commented on #1147
Can you give a try with [this framework](https://www.dropbox.com/s/er0lea7hs1r93oy/TangramMap.framework.zip?dl=0), generated from this branch https://github.com/tangrams/tangram-es/tree/ios-add-bitcode-flag.

Bad news is that even if the otool segname were visible and `ENABLE_BITCODE` set to `YES` the bitcode didn't seem to actually be generated, this framework raised up to the size of ~50Mb with

[2016-12-14 23:50] #978 closed

[2016-12-15 08:53] RobertMathieu opened #1178 "Can't "make ios""
Hi,
When i try to do a "make ios" I got some errors during compile.
I print all errors I got :

`▸ Compiling sceneLoader.cpp

❌  /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/../include/c++/v1/memory:2194:15: no matching constructor for initialization of 'alfons::InputSource'

              __second_(_VSTD::forward<_Args2>(_VSTD::get<_I2>(__second_args))...

[2016-12-15 10:42] sheikh-iffi opened #1179 "Directional arrows on road"
Hi

I was wondering if there is a way to show directional arrows on road. e.g.
![google](https://cloud.githubusercontent.com/assets/12157369/21220876/e4690764-c2dc-11e6-9bca-3b98df256a0c.png)

[2016-12-15 14:21] bcamper commented on #1179
There is support for this in Tangram JS, with this syntax: https://github.com/tangrams/tangram/blob/master/demos/scene.yaml#L425-L434

We have not added this functionality to Tangram ES yet, but we will soon. @blair1618, I think we may need an issue added for this and related shield / point-on-line placement features?

[2016-12-15 15:24] ivangorelow commented on #1164
Now I can't see props in pickFuture and in pickLabel also

[2016-12-15 15:24] karimnaaji commented on #1178
hi @RobertMathieu, thanks for trying out tangram-es , it could be that some submodules are out of sync. Can you try:

[code]

[2016-12-15 15:26] karimnaaji commented on #1164
Hi @ivangorelow , did you marked the feature that needs to be picked as interactive? https://mapzen.com/documentation/tangram/draw/#interactive

[2016-12-15 15:28] ivangorelow commented on #1164
yes, pickFuture works with lines, but nothing works whith icons?

[2016-12-15 15:32] karimnaaji commented on #1164
Icons are under the point style, more on https://mapzen.com/documentation/tangram/Styles-Overview/#points (also refer to that https://github.com/tangrams/tangram-es/issues/1164#issuecomment-266538524),  they should be marked with `interactive`, a `LabelPickListener` should be set to the map controller, and `pickLabelAt` called. Can you verify that all of this is correctly done in your application?

[2016-12-15 15:43] ivangorelow commented on #1164
What is pickLabelAt? is it pickLabel?

[2016-12-15 15:45] karimnaaji commented on #1164
Yes, https://github.com/tangrams/tangram-es/blob/master/android/tangram/src/com/mapzen/tangram/MapController.java#L679

[2016-12-15 15:47] #1159 closed

[2016-12-15 17:21] blair1618 commented on #1179
@bcamper yes, this is in our queue but we don't currently have an issue describing the feature. Are there relevant PRs from Tangram JS that we could use as reference?

[2016-12-15 17:35] bcamper commented on #1179
Yep - it's described pretty well in the [v0.11.0 release notes](https://github.com/tangrams/tangram/releases/tag/v0.11.0), with linked PRs in https://github.com/tangrams/tangram/pull/409 and https://github.com/tangrams/tangram/pull/441.

[2016-12-15 17:41] blair1618 commented on #1113
_Actually_ resolved by https://github.com/tangrams/tangram-es/pull/1174

[2016-12-15 17:41] #1113 closed

[2016-12-15 17:42] blair1618 commented on #1100
Should be resolved by https://github.com/tangrams/tangram-es/pull/1105

[2016-12-15 17:42] #1100 closed

[2016-12-15 17:47] matteblair opened #1183 "Point-on-line placement strategies"
Tangram JS recently added more sophisticated ways of placing point drawings along lines. The new options are described in the release notes for v0.11: https://github.com/tangrams/tangram/releases/tag/v0.11.0, with related PRs https://github.com/tangrams/tangram/pull/409 and https://github.com/tangrams/tangram/pull/441

[2016-12-15 17:47] blair1618 commented on #1179
https://github.com/tangrams/tangram-es/issues/1183

[2016-12-15 17:49] karimnaaji commented on #938
Now shared and stored in the tile https://github.com/tangrams/tangram-es/blob/fbaee7a917c92263ea568c11e5c427571ee8272c/core/src/tile/tile.h#L77

[2016-12-15 17:49] #938 closed

[2016-12-15 22:39] blair1618 commented on #1065
@karimnaaji I didn't see that you had assigned yourself, I was working on this today and I should have noted it! Oh well.

I've made a proof-of-concept implementation for on approach to this: https://github.com/tangrams/tangram-es/commit/2cec9e5496a57dab624286e56011b40bf0bee932

This samples a square area of the framebuffer with a configurable size and returns the most common (non-zero) color in t

[2016-12-16 09:55] Nischhal opened #1186 "Drawing poitns/lines using Lat Long"
Hi
I have been trying to do some additions on the map. I tried adding a straight line on the map
 by adding some code in main.cpp. The map is displayed but the line is not. Is it possible to add a line on map by giving lat long of two points on the map?

will glVertex3f(-0.6f, -0.4f, 0.f); be of any help here?

[2016-12-16 13:54] karimnaaji commented on #1186
Hi @Nischhal , to draw points and lines you need to refer to the [marker interface](https://github.com/tangrams/tangram-es/blob/master/core/src/tangram.h#L183_L236)/[client data sources](https://github.com/tangrams/tangram-es/blob/master/core/src/tangram.h#L173_L181).

With client data sources:

- Create a layer for it in your stylesheet:
[code]
- Create the source from the code
[code]

With marke

[2016-12-16 13:54] #1186 closed

[2016-12-16 14:51] RobertMathieu commented on #1178
Hi @karimnaaji, you are right, this solved the problem and know i got build success.

But now when I try to launch the project i have an "No code signature found."  error.
I know it's not the subject of this post but i don't know what to do. I cleaned many times and tried other things but nothing works so i'm a little out of ideas.

[2016-12-16 14:59] karimnaaji commented on #1178
This is something mentioned in our README, you need to codesign the iOS framework.

Can you try the last step mentioned here https://github.com/tangrams/tangram-es#ios-demo-application?

[2016-12-16 15:08] RobertMathieu commented on #1178
I feel dumb to not have seen this line.
By checking this box all works fine. Thanks a lot and good job for this app !

[2016-12-16 15:08] #1178 closed

[2016-12-19 17:13] karimnaaji commented on #1167
https://github.com/tangrams/tangram-es/pull/1185

[2016-12-19 17:13] #1167 closed

[2016-12-20 05:37] Nischhal commented on #1186
When i create the source from the code

                Tangram::Properties properties;
                auto source = std::make_shared<Tangram::ClientGeoJsonSource>("my_custom_source", "");
                properties.set("line_prop", "line properties");
                source->addLine(properties, {87.014944 21.439861, 87.017705 21.442473, 87.020881 21.443771});
                map->addDataSource(s

[2016-12-20 13:39] ivangorelow opened #1189 "Animation in map"
Is it possible that animation works whith element only one times.
I'd like to change line's color smoothly

[2016-12-20 14:25] ivangorelow commented on #1189
![image](https://cloud.githubusercontent.com/assets/20596378/21353933/34536ecc-c6d9-11e6-94f4-725d1217221a.png)
something like that

[2016-12-20 15:28] karimnaaji commented on #1186
No you're doing it right! I missed some bracketing while writing the code in the issue around the coordinates (the type can be found here https://github.com/tangrams/tangram-es/blob/master/core/src/util/types.h#L36). Sorry about that.

It could be either:
[code]
Or:
[code]

I haven't tested the coordinates so don't expect to see something with that, I would rather get the coordinates from a mouse

[2016-12-20 16:17] matteblair commented on #1189
Hello!

I'm not sure I understand your question. Do you want to change the color of a line over time?

[2016-12-20 20:45] msmollin opened #1191 "Generate .dSYM for release iOS tangram framework builds"
This will help with profiling release builds so we can see where we're spending compute time inside the framework.

[2016-12-21 05:00] Nischhal commented on #1186
Yes it does.
The code :
std::vector<LngLat> coordinates;
coordinates.push_back({87.014944, 21.439861});
coordinates.push_back({87.020881, 21.443771});
source->addLine(properties, coordinates);

works perfectly!
Great help. thank you very much @karimnaaji

[2016-12-21 11:48] ivangorelow commented on #1189
no.
I want that line appear smoothy

[2016-12-21 13:06] ivangorelow commented on #1189
something like transition

[2016-12-21 13:42] ivangorelow commented on #1189
http://tangrams.github.io/shaders-demo/#16/40.7036/-74.0050

like rainbow here

[2016-12-21 19:30] wardo001 commented on #1137
Hi Patricio, Apologies for the delayed response, I have been very busy in the run-up to Christmas. Yes, I have made the amendments indicated and the build compiled. Thank you!

However, I am experiencing some issues as the program runs. It doesn't zoom or move correctly and generates errors along the lines of "Failed to read file at path: /img/poi_icons_32.png". If I then run it a second time, tan

[2016-12-21 19:36] patriciogonzalezvivo commented on #1137
Hello @wardo001, the error loading the texture seams to be a Scene configuration issue, for the interactiveness of RaspberryPi... well for now is quite reduce. Because it runs directly from the console the amount of mouse/keyboard events is still in early stages.

To address that on the Pi, I'm working on an experimental project you might be interested. Is a Python wrapper for tangram Es, so you c

[2016-12-21 20:25] nvkelso opened #1193 "Allow for 0px size sprites (while point remains visible)"
This is needed so locality labels can initially have townspot icons (point with text attachment) and then have a 0px sized townspot sprite while retaining the text attachment).

Support for this was added in [Tangram v0.11.5](https://github.com/tangrams/tangram/releases/tag/v0.11.5):

- Optimize handling of 0px-size points/labels (assists in showing only the text portion when using a points-based

[2016-12-21 20:51] wardo001 commented on #1137
Thanks for the python wrapper link Patricio, I will have a look and come back to you asap.

Just out of interest, could you tell me the version of raspbian where tangram-es was last running in a stable way? There is a list of images here: http://downloads.raspberrypi.org/raspbian/images/
I cant work out the dates from the linux version you previously posted.

I know tangram-es can work on a pi as

[2016-12-21 20:55] patriciogonzalezvivo commented on #1137
Should work on all of them

[2016-12-21 20:59] wardo001 commented on #1137
Ok thanks. I will go back to a previous raspbian version and see if I get different results. I am looking at the py wrapper now and I will try and get it running.

[2016-12-21 23:17] matteblair commented on #1193
Upon initial inspection, this seems to "just work".

I'll look more closely and confirm that we aren't generating any problematic  "NaN" values or something.

[2016-12-22 17:57] karimnaaji opened #1195 "Invalid font id in alfons context triggers assertion"
Debug master builds can trigger an assertion incoming from alfons codebase:

[code]

[code]

[2016-12-22 19:08] karimnaaji opened #1196 "Possible race condition/incorrect texture binding on texture atlas for text"
![img_0002](https://cloud.githubusercontent.com/assets/7061573/21436457/962c101c-c84c-11e6-9da1-a1e1d9ff1e1e.PNG)

[2016-12-22 19:33] matteblair commented on #1196
I̡ ̴s̸e̛e ͟n̵o̧thing͠ w̶ro͘ng͡ her̴e

[2016-12-26 09:39] lygstate opened #1198 "YAML cause a lot of win32 compiling error。。。。。"
···
C:\CI-Cor\ctk-base\tangram-es\external\yaml-cpp\include\yaml-cpp/node/detail/node.h(21): error C2059: syntax error: '('
 [C:\CI-Cor\ctk-base\tangram-es\build\windows\external\yaml-cpp\yaml-cpp.vcxproj]
C:\CI-Cor\ctk-base\tangram-es\external\yaml-cpp\include\yaml-cpp/node/detail/node.h(21): error C4430: missing type spec
ifier - int assumed. Note: C++ does not support default-int [C:\CI-Cor\ctk

[2016-12-26 10:26] lygstate commented on #1198
[code]

[2016-12-27 01:40] lygstate opened #1199 "The Tron 2.0 URL resolve is not correct."
[code]

[2016-12-27 01:42] lygstate commented on #1199
To be clear, it's here:
[code]

[2016-12-27 01:43] lygstate commented on #1199
`/blocks/functions/easing.yaml:components/fonts/VWXaIPGrUapL_Y2vGs0lKALUuEpTyoUstqEm5AMlJo4.woff`
Should resolve to
components/fonts/VWXaIPGrUapL_Y2vGs0lKALUuEpTyoUstqEm5AMlJo4.woff

not
 /blocks/functions/components/fonts/VWXaIPGrUapL_Y2vGs0lKALUuEpTyoUstqEm5AMlJo4.woff

[2016-12-27 01:53] lygstate commented on #1199
The fixes for this issue
[code]

[2016-12-27 14:51] matekdk opened #1200 ""make ios" and "make ios-framework" fails on osx Sierra, Xcode 8.2.1"
Trace of build:

        xcodebuild -target TangramMap -project build/ios-framework/tangram.xcodeproj \
        		-configuration Release | `command -v xcpretty || echo 'xargs echo'`
        2016-12-27 15:23:46.391 xcodebuild[3832:3333236] warning:  The file reference for "ios/framework/TangramMap.h" is a member of multiple groups ("Header Files" and "Resources"); this indicates a malformed project

[2016-12-27 20:35] matteblair commented on #1198
Can you specify which compiler and version you are using? Thanks

[2016-12-27 20:46] matteblair commented on #1199
Can you show exactly what is being printed out to produce the logs here? There are no fonts declared in `easing.yaml`, so there seems to be something going wrong separate from URL resolution.

[2016-12-27 20:51] matteblair commented on #1200
Can you try the build again with `xcpretty` installed? Use `gem install xcpretty` to install it and then run the build again the same way.

I thought I had resolved this issue but maybe not :\

[2016-12-28 00:20] matekdk commented on #1200
Yes - it worked perfectly after running `gem install xcpretty`. Please close this issue :)

[2016-12-28 00:21] hjanetzek commented on #1198
Hi @lygstate, I'll made a patch that hopefully works with MSVC https://github.com/tangrams/yaml-cpp/tree/msvc-compatibility. Otherwise you can checkout the yaml-1.2 branch that we used before.

[2016-12-28 01:18] lygstate commented on #1199
right I've commit the patch

[2016-12-28 01:18] lygstate commented on #1199
The problem comes from here mergeMapFields(root, sceneNode);
-
-    resolveSceneUrls(root, scenePath);

[2016-12-28 16:16] #1196 closed

[2016-12-29 03:11] lygstate opened #1203 "core/src/scene/stops.cpp did not handling auto upper = nearestHigherFrame(_key); properly."
When the upper  is equal to the begnning of the vector.
`auto lower = upper - 1;` would cause lower to be a wild pointer(INVALID on MSVC).
And should not be accessed under Linux.

[2017-01-04 16:24] matteblair commented on #1203
Certainly it would be an error to dereference `lower` when `upper == frames.begin()`. Fortunately, our usage of these iterators carefully avoids ever doing that, as you can see in `Stops::evalFloat` https://github.com/tangrams/tangram-es/blob/master/core/src/scene/stops.cpp#L295-L311

Are you aware of an execution path that would cause an invalid pointer to be _dereferenced_ here?

If you have a s

[2017-01-04 16:28] matteblair commented on #1200
Great! The build _should_ be able to complete without `xcpretty`, but I'll track that in a separate issue.

[2017-01-04 16:28] #1200 closed

[2017-01-04 16:33] matteblair opened #1204 "'make ios' should not require xcpretty"
As shown in https://github.com/tangrams/tangram-es/issues/1200, `make ios` and related tasks will fail in obscure ways if the `xcpretty` Ruby gem is not installed.

Our `Makefile` tries to optionally use `xcpretty` for Xcode output formatting:
[code]
https://github.com/tangrams/tangram-es/blob/master/Makefile#L58
https://github.com/tangrams/tangram-es/blob/master/Makefile#L237-L242

[2017-01-04 16:35] matteblair commented on #1204
This came up in the past and was resolved by simply not trying to format the Xcode output. I added the optional formatting again recently because the raw Xcode output overruns the logs in CircleCI.

[2017-01-04 17:22] matteblair commented on #1199
I'm unable to reproduce this issue on OS X. If you are still having this problem, can you share which commits of tangram-es and tron-style you are working with?

[2017-01-04 18:04] lygstate commented on #1199
I was produce this error on Windows.

[2017-01-04 18:10] matteblair commented on #1199
Since this doesn't seem to be a problem on our supported platform targets, I won't be making any changes to the main repository. Glad you found a patch that fixed your issue!

[2017-01-04 18:10] #1199 closed

[2017-01-05 00:54] #1094 closed

[2017-01-06 05:10] placz opened #1206 "Crash after screen orientation change on Nexus 5X"
Tangram is consistently crashing for me on my nexus 5x when changing the device orientation (portrait <-> landscape). I managed to reproduce it in a way that hopefully will work for you:

Fire up the simplemap demo with a Nexus 5X emulator.
Zoom in somewhere (you have to move the camera).
Rotate the screen and you should crash:

01-05 16:51:01.228 3803-4095/com.mapzen.tangram.demos.simplemap A/lib

[2017-01-06 16:51] tallytalwar opened #1207 "Support for "px2" units in ranges for screen size filtering"
Refer JS commit: https://github.com/tangrams/tangram/commit/8d9c773d3e7422d1eb824d4d95703d016f0a07ed

Refer usage: https://github.com/tangrams/tangram/blob/master/demos/scene.yaml#L205

[2017-01-06 16:56] tallytalwar commented on #1207
Closing in favor an old original issue: https://github.com/tangrams/tangram-es/issues/972

[2017-01-06 20:58] #1066 closed

[2017-01-06 20:58] #1163 closed

[2017-01-09 14:50] msmollin opened #1210 "TGSceneUpdate.h and TGLabelPickResult need nullability type specified"
Otherwise you get these warnings in Xcode when used with Swift projects:
![screen shot 2017-01-09 at 9 48 13 am](https://cloud.githubusercontent.com/assets/1163880/21770380/04079054-d651-11e6-889d-67b3b7976106.png)

[2017-01-09 17:49] matteblair opened #1212 "Reorganize project structure"
Tangram-es has grown and changed over its life. Now that we have spent time working with, in, and around it, several of us on the tangram-es team have ideas of how to make the project structure more clear and useful.

Any contributors to tangram-es are free to voice ideas here for discussion!

[2017-01-09 17:55] matteblair commented on #1212
A suggestion for revising the directory structure:
[code]
If anything about this is not obvious, let me know and I'll add detail

[2017-01-09 19:08] karimnaaji commented on #1212
I think it's in pretty good shape already! The one part that I would suggest modifying in this structure is:

[code]
I think it's possible to only provide a single header `map.h` that would make it much easier to distribute the library as a single shared/static file + this single header.

I like the name deps but I think that `3rdparty` is a good alternative too.

The one thing that would be nice

[2017-01-09 19:29] matteblair commented on #1212
I like the idea of defining useful CMake variables for projects that include tangram-es.

I agree about moving header-only libraries to the other dependencies, I had intended that but didn't make it explicit.

Another suggestion: For stable dependencies (i.e. those we don't update frequently) we should directly copy the source code for a released version. For projects like `benchmark`, `glfw`, `gl

[2017-01-10 01:59] tallytalwar commented on #625
Our android build system is through new android studio and using gradle native builds, which will make sure we are upto date with NDK versions.

[2017-01-10 01:59] #625 closed

[2017-01-10 02:00] tallytalwar commented on #807
Resolved by https://github.com/tangrams/tangram-es/pull/1152

[2017-01-10 02:00] #807 closed

[2017-01-10 02:10] tallytalwar commented on #610
ES style sheet matches more closely with JS one now. https://github.com/tangrams/tangram-es/pull/1208

[2017-01-10 02:10] #610 closed

[2017-01-10 02:14] tallytalwar commented on #908
Closing this, as we have not seen any crashes with the eraser map for a while.

[2017-01-10 02:14] #908 closed

[2017-01-10 02:15] tallytalwar commented on #908
Plus, a lot has changes since this issue in core tangram, which might have fixed this issue :D.

[2017-01-10 02:19] tallytalwar commented on #1063
I believe we do provide a way to apply scene updates during initial scene load now, which should take care of this.

[2017-01-10 02:19] #1063 closed

[2017-01-10 02:21] tallytalwar commented on #1133
This should be fixed in tangram core now.

[2017-01-10 02:21] #1133 closed

[2017-01-10 16:59] hjanetzek commented on #1212
I would prefer having external sources and submodules in one top-level directory. Everything else sounds good to me.
Not sure about the single public header. Certainly we can provide a merge header containing all types necessary for the public api if that helps - on the other hand e.g. including `tangram.h` in `label.h` for `LabelType` is confusing to me. I think it would be better to have a type

[2017-01-10 18:59] msmollin commented on #1147
Tested this, and works great on my local machine. The ~50MB library size doesn't come through at all locally - the Mapzen iOS sample app size is around 7MB total with all the other libraries and imagery included in that. I am still investigating some weirdness with CircleCI producing extra large images but that seems to be to do with whatever command it's running.

[2017-01-10 18:59] msmollin commented on #1147
Can you rebase this branch and open a PR for it?

[2017-01-11 17:30] matteblair commented on #1212
I too am unsure whether a single all-inclusive header makes sense for the core library. If we aim to provide a convenient way to use the public headers in code, we could provide a `tangram.h` whose only contents are `#include` statements for the other public headers. In terms of file management, I don't think copying a folder of header files would be an undue burden for users - or as Hannes sugges

[2017-01-11 18:09] karimnaaji commented on #1212
Between copying a folder and amalgamating the header it seems better to leave the user copy the folder of public headers; amalgamation can create complex header file that are hard to step through and read. For us it's the public interface and should be clear and well-documented since it's most likely used to understand the API before stepping through more advanced documentation. It's also true tha

[2017-01-11 18:41] tallytalwar commented on #1212
I agree with most of this discussed above.

1. Public Headers: I agree with a directory containing all the necessary public headers and the user including that directory. (This can also be defined with the CMAKE variables @karimnaaji mentioned above).
2. Public/Private Headers: In most projects I have seen before, there is some explicit distinction between private and public header. Example: All p

[2017-01-11 22:47] msmollin opened #1219 "Provide additional error context for adding/styling/removing markers"
Per previous discussion, we should work on improving the API for the different marker management methods to give more context as to why something could fail, like for incorrect style YAML or markers not actually existing. This could be in addition to, or replace possibly, the existing boolean returns.

[2017-01-11 23:57] msmollin opened #1220 "Move Tangram::Map() creation earlier in TGMapViewController lifecycle"
Decoupling the map creation from the view controller's view lifecycle will make this easier to test some of the functions that are called by the iOS SDK.

[2017-01-12 11:38] ivangorelow opened #1222 "clustering"
Will uou make clustering for markers?

[2017-01-12 11:57] ivangorelow opened #1223 "blend_order for markers"
How can I set blend order for the marker?

[2017-01-12 16:31] tallytalwar commented on #1223
`blend_order` is a style property. If you have a `style` in your scene which is assigned a `blend_order`, you can set the styling of the marker to use this style.

Example: If you are using our `bubble-wrap` style:
https://github.com/tangrams/bubble-wrap/blob/gh-pages/bubble-wrap.yaml#L1052

You can style a marker using the `icons` style as:
[code]

[2017-01-12 16:31] #1223 closed

[2017-01-12 17:28] matteblair commented on #1222
Point clustering is not on our roadmap for the near future.

[2017-01-12 17:28] #1222 closed

[2017-01-13 00:04] Guillaume227 opened #1226 "Tolerance with Marker Selection"
I have been trying out the new marker picking code, it's neat thanks.
It takes a (x,y) as input and so it can be pretty hard to hit a small size marker with the finger the first time around.
Would we consider adding an extra parameter to specify a tolerance, in effect the radius of a selection circle at which to probe for marker presence ?
Note that it could mean more than one marker is returned i

[2017-01-13 00:16] Guillaume227 opened #1227 "Crash in rendering thread when adding multiple markers"
I have been playing with code that adds a few dozens markers in a loop in one function call and I am getting very frequent crashes in the GL thread which is attempting to render partially set markers
(I am not talking about different threads concurrently adding markers).
I haven't digged very deep yet but based on the Android example code (and the c++ interface code below) I haven't seen any mutex

[2017-01-13 00:31] matteblair commented on #1227
Can you share the code that's producing these crashes (particularly the c++ interface)?

[2017-01-13 00:35] matteblair commented on #1226
I agree! In fact we have started implementing this, but have not yet chosen a final approach.
See this issue: https://github.com/tangrams/tangram-es/issues/1065

[2017-01-13 00:35] #1226 closed

[2017-01-13 15:28] Guillaume227 commented on #1065
"The next approach" you describe gets my vote !

[2017-01-13 15:32] Guillaume227 commented on #1227
I understood what's going on in my code:

I am adding a few dozens markers then wipe them out and add a new batch.
It's the wiping out that's causing the trouble with the render thread: as that thread iterates over std::unique_ptr<marker> some have been removed by my application thread and became null.

I see there is not mutex for markers like there is for tiles to protect access to markerManager

[2017-01-13 16:07] matteblair commented on #1227
Ok I think I understand. In our Android interface, most application logic happens on the UI thread while rendering happens on the GL thread. To guard against concurrent access, most of our JNI methods are designated `synchronized`. For other platform targets, there's no need to incur those synchronization costs so we don't perform synchronization inside the core library. Tile sets, however, _must_

[2017-01-13 16:50] Guillaume227 commented on #1227
Makes sense, thanks! I am going to add synchronization on my end then.
I feel this should really be pushed down to the c++ API though as it's a cross platform concern.
Maybe it will get introduced as part of #1034 then.

[2017-01-13 16:50] #1227 closed

[2017-01-13 17:48] am2222 opened #1229 "Is it possible to illustrate some shapes such as windows and doors in 3d using ymal?"
Hi,
I can make 3d walls using tangram but I have some problems to create objects such as stairs, doors, and windows' can you please give me an idea how to create those shapes?Is it even possible to illustrate their 3d shapes?

[2017-01-13 19:52] karimnaaji commented on #1206
Hi @placz ,
Do you mind giving a try at this branch and see if this crash happens on your device?
https://github.com/tangrams/tangram-es/tree/gl-context-loss

[2017-01-13 19:55] #1027 closed

[2017-01-13 20:00] karimnaaji commented on #1048
Instructions have been updated since latest support of CMake through Android Studio.

[2017-01-13 20:00] #1048 closed

[2017-01-13 21:44] Guillaume227 commented on #1139
For the record: I found out the key difference between my two setups wasn't the windows version.
Instead, what made the incbin.sh work was that one machine had git bash for windows, while the other didn't. The *.sh were automatically opened using that bash version with all the right tools.

So now the Android demo is building on windows 7 as well as 10.
'Git for windows installer' has all the requ

[2017-01-13 22:13] placz commented on #1206
That seems to have done the trick; I haven't been able to make it crash on my device by rotating it - thank you!

[2017-01-16 07:21] seubseub opened #1231 "Is there are pickmarkerhandler in iOS (swift)?"
Hi I'm Newbie in tangram.

At First, Sorry about my English capability.

I'm trying to implement tangram in swift.

But I met problem.

I implemented 'markerpoint' in map. And then  When I tried to select marker,

Nothing handled.

`  func mapView(_ mapView: TGMapViewController, didSelectMarker markerPickResult: TGMarkerPickResult?, atScreenPosition position: CGPoint) {
        print(markerPickRes

[2017-01-16 10:12] yangzhedeID opened #1232 "how to support geoserver？"
like [http://gis.sicnu.edu.cn/data/1005/pc/{z}/{x}/{y}.jpg](http://gis.sicnu.edu.cn/data/1005/pc/1/1/1.jpg)

[2017-01-16 12:06] lygstate opened #1233 "Recommend using subtree instead of submodule for externals."
Submodule maintaining is a big pain.:(....

[2017-01-16 15:51] karimnaaji commented on #1231
Hi @seubseub , can you share the styling code for this marker? Make sure that the property `interactive` is set, see the [documentation for this parameter](https://mapzen.com/documentation/tangram/draw/#interactive).

[2017-01-17 01:37] seubseub commented on #1231
@karimnaaji  Thank you for replying.  I just use styles in demo + interactive : true. list this. { style: 'points', interactive : true,  color: 'white', size: [10px, 10px], order:2000, collide: false }, { style: 'lines', interactive : true,  color: 'red', width: 5px, order: 1000 }. I use only point, polyline. but nothing show up. Thank you

[2017-01-17 15:11] karimnaaji commented on #1231
Does anything is being shown at all?

[2017-01-17 16:57] matteblair commented on #1232
Tangram-es supports rendering static "raster" tiles like this example through its scene file configuration. You can add a raster tile source to your scene file as described in the documentation here: https://mapzen.com/documentation/tangram/Raster-Overview/

[2017-01-17 17:21] matteblair commented on #1233
Yes submodules can be a burden at times - especially when switching between branches! However once they are set up, submodules do have the advantage of being much easier for pushing changes upstream than subtrees.

For some of the dependencies that we frequently modify, like `alfons` and `yaml-cpp`,  it is important that we are able to very easily make changes and push them upstream, so some depen

[2017-01-17 20:13] karimnaaji commented on #1206
Ok thanks for testing! The fix should be in https://github.com/tangrams/tangram-es/pull/1234.

[2017-01-18 01:17] seubseub commented on #1231
@karimnaaji map, marker and polyline show well. sorry. but marker doesn't interactive.

[2017-01-18 03:18] seubseub commented on #1231
As I saw code, "pickMarkerAt" handler in tangram-es/core/src/tangram.cpp 401line. But, When I use TangramMap.framework, In TGMapViewController.h, Just 'pickFeatureAt' , 'pickLabelAt' Not
'pickMarketAt'.

[2017-01-18 07:56] seubseub commented on #1231
I solved by adding "pickMarkerAt" method to ios/src/TGMapViewController.h. And 'make iOS'  to get new framework. Thank you for replying answer @karimnaaji

[2017-01-18 11:22] sajadkhan opened #1237 "TGMapViewDelegate causing crash #iOS"
In TGMapViewDelegate all the methods are 'optional' but the implementation to call the delegate method really make it 'mandatory' as it will crash if delegate doesn't implement these method. In TGMapViewController.mm the method ` - (void)pickFeatureAt:(CGPoint)screenPosition`  contains
`if (!self.mapViewDelegate && ![self.mapViewDelegate respondsToSelector:@selector(mapView:didSelectFeature:atScre

[2017-01-18 15:20] karimnaaji commented on #1231
Thanks @seubseub ! Your PR is now merged in, closing this.

[2017-01-18 15:20] #1231 closed

[2017-01-18 15:38] karimnaaji commented on #1237
Hello @sajadkhan,
Thanks for the issue, those tests are missing something and should be
[code]
and they would work as you expect.
A fix will be in shortly!

[2017-01-18 17:09] tallytalwar opened #1239 "Proposal: styling flexibility for markers to use draw rules from layers defined in a scene file"
In a discussion with @ecgreb and @msmollin, it would be better for a developer to reference draw /styling rules for a marker from a layer defined in the scene file:

Example:
[code]

Referring `mz_route_line` for a marker should grab draw rules defined in the layer for drawing of this marker
[code]

In the above API, if a `layer` is defined, one can grab draw rules for that layer and use it to dra

[2017-01-18 19:59] #1237 closed

[2017-01-18 20:09] matteblair commented on #1239
I am concerned that this will end up being even more complicated and difficult to understand than our current approach to styling markers.

Associating dynamic map features with an existing data layer is the approach that we used for `MapData` in our first attempt at adding markers to the map. This was not without problems. First, it was very brittle to changes in the scene file; if a layer's name

[2017-01-18 20:12] tallytalwar commented on #1239
I agree on all these points. We will have to weigh the use cases @ecgreb and @msmollin are thinking about for this proposal to be implemented. Balls in their court now :D.

[2017-01-18 21:23] ecgreb commented on #1239
One of the goals of the mobile SDKs is to provide an easy to use interface for a default set of commonly used markers (points, lines, polygons) styled to match each house style.

In the Android SDK this feature is currently implemented using client `MapData` and does not require any knowledge of the stylesheet by a developer using the SDK.

Using the new marker API a developer now has to open the

[2017-01-18 22:36] matteblair commented on #1239
I think the challenge here is that we are trying to simultaneously satisfy groups with different needs:

 - Developers using Mapzen house styles and UI, who just want to use the things that are already in the scene files (applies to most of our internal work).
 - Developers making their own scenes or UI, who expect to control the appearance of map UI in code like every other piece of UI (applies t

[2017-01-18 22:39] tallytalwar commented on #1239
@ecgreb if this is the case, can we not hide styling of a marker in the android/ios sdk? Which can then be updated accordingly with the updates to style sheet?

[2017-01-18 22:41] tallytalwar commented on #1239
So if a developer using our SDK wants to add default SDK markers they can directly use an API call which bundles the apt styling with it. However if they want to style their marker explicitly they can still use the `markerSetStyling` interface.

[2017-01-18 22:46] ecgreb commented on #1239
@tallytalwar good point we could hide the inline styling in the SDK but given that we support 5 different bundled house styles with currently 14 `mz_*` marker styles each we would need to include (and update) inline styles for potentially 70 different draw rules when there are changes to the house styles?

[2017-01-18 22:52] ecgreb commented on #1239
@matteblair I agree we are trying to cover two separate use cases with one set of functionality.

Based on feedback we have received on the Android SDK there are also external developers who want to use the bundled styles and default markers so I think both use cases are valid.

Now I see the issue with nested styles but I don't think it applies to any of the `mz_*` layers so one option would be t

[2017-01-18 22:55] matteblair commented on #1239
Allow me to rebut me from 15 minutes ago:

For these cases the developer could just update the scene files after they are loaded to include the styling layer that they want. A little awkward, but manageable.

As I just demonstrated, we already have rules for these cases and I just explained one in a sentence. Results may be unexpected for some scene files but it's nothing truly new.

Styling marke

[2017-01-18 23:04] ecgreb commented on #1239
Lol cool I am down with an experiment its kind of what we do 🔬 ⌛️ 💉 💥

Let me know if I can do anything to help

[2017-01-18 23:05] tallytalwar commented on #1239
On experiment, I already started something this morning, while we were discussing. So might have something to test by the end of this week.

[2017-01-18 23:07] tallytalwar commented on #1239
I am going to ignore any "sublayer" assignments for the first pass.

[2017-01-18 23:14] #1179 closed

[2017-01-18 23:14] #1183 closed

[2017-01-19 03:19] seubseub commented on #1231
Great!

[2017-01-19 12:46] sajadkhan commented on #1237
Thanks I had made those changes already and it works fine.

[2017-01-19 14:19] skorasaurus commented on #1189
ivangorelow,

I think you trying to describe a color gradient? (which, in a sense, is what the 'rainbow' selection in the link you mentioned above, is doing - the pixels' hues change incrementally (or 'smoothly' as you said' above ).

I'm interested in doing the same thing (using this for polygons like small bodies of water, etc) and used some code from @patriciogonzalezvivo  - see https://mapzen.

[2017-01-19 14:45] patriciogonzalezvivo commented on #1189
Hi @ivangorelow! If I understand correctly you want to fade in a rainbow... but never fade it back... right?

A way to do that is to use `u_time` uniform but clamp it to a range between 0. and 1. So the timer on the map will achieve 1. seconds and stay in that value. Check line 40 of this example https://thebookofshaders.com/edit.php?log=170119144638

Note that in that example I'm looping through

[2017-01-19 23:25] matteblair opened #1241 "Allow fractional dash lengths"
Corresponding tangram-js issue: https://github.com/tangrams/tangram/issues/355
and implementation: https://github.com/tangrams/tangram/pull/404

[2017-01-19 23:26] matteblair commented on #1241
Whoop this is a dupe of https://github.com/tangrams/tangram-es/issues/951! Closing.

[2017-01-19 23:26] #1241 closed

[2017-01-19 23:29] matteblair commented on #951
This is being used in walkabout-style now: https://github.com/tangrams/walkabout-style/blob/gh-pages/walkabout-style.yaml#L875-L890 so these styles are currently not rendering in tangram-es :\

[2017-01-20 21:54] #1220 closed

[2017-01-20 22:00] msmollin opened #1243 "Multiple map instances causes strange rendering issues on iOS"
The Mapzen iOS SDK sample app utilizes a UITabBarController which has 3 view controllers connected. All 3 VCs utilizes a TGMapViewController to display either route lines, search pins, or the device's current location.

Two major things seem to happen when, after launching, we select one of the other tabs (which loads a second map):
1) The original map (currently the Maps tab) appears to become co

[2017-01-22 21:12] Serinox commented on #960
I tried to get this working and ran into the following issue. If you go to http://osm2vectortiles.org they no longer offer any tile downloads and redirect you to https://openmaptiles.org/ which will give you download options. However these mbtile files do not appear to work with the example application. The metadata format claims it is pbf. Are these mbtile files supposed to work or did they chang

[2017-01-22 21:39] nvkelso commented on #960
@lukasmartinelli do you what's going on with openmaptiles.org extracts?

[2017-01-22 22:48] lukasmartinelli commented on #960
Nothing changed format wise as we used the same components - what is a bit tricky is that the PBFs are gzipped inside the MBTiles (but they were for OSM2VectorTiles as well).

I only have an example of using the Tangram WebGL client as I did here:
https://openmaptiles.org/docs/website/tangram/

[2017-01-23 03:08] Serinox commented on #960
Ok thanks for letting me know, I've liberally sprinkled break points in the mvtSource.cpp file and in the parse method it does look like it is getting data as I can step through and watch it add points of interest and waterways etc to the tileData object. Chasing the data from the mvtSource file I've found that in the StyleBuilder.cpp addFeature method the line:

`if (!checkRule(_rule)) { return f

[2017-01-23 12:43] hjanetzek commented on #960
@Serinox To use openmaptiles you need a scene file with styling rules that match the tile data.  See https://openmaptiles.org/schema for the layers/feature properties to match.

I made some (incomplete) modifications to show openmaptiles with tangram
https://gist.github.com/hjanetzek/8f2d8c4c7e485fdc0479e5ace6eb5d14
![shot-2017-01-23_13-41-52](https://cloud.githubusercontent.com/assets/1747/222043

[2017-01-23 13:39] ivangorelow commented on #1189
and how van I use your examples in my map whith android?

[2017-01-23 18:08] matteblair opened #1245 "Reduce default log verbosity"
The default "debug" logging behavior can be incredibly verbose, especially the logs from font loading and text styling. Detailed logs can be invaluable for debugging, but there are costs to excessive verbosity:
 - Verbose logs can drown the output from other libraries or applications.
 - Repetitive, uninformative logging produces a tendency for developers to ignore the logs entirely.
 - Excessive

[2017-01-23 21:22] Serinox commented on #960
@hjanetzek: Ok that got it working! Many Thanks!

[2017-01-24 16:09] karimnaaji opened #1246 "Cherry-pick library symbols export to control visibility"
There are several advantages of not exposing all library symbols (loading time, memory usage, collisions...); by default we should set visibility to hidden for export of tangram library symbols (`-fvisibility=hidden`). We currently expose symbols for all of the external library we use:
[code]
For this architecture this seems to be ~200kb and can be easily reduced to a few kb only.

We should condi

[2017-01-24 19:56] tallytalwar opened #1247 "Polyline outline needs its own interactive parameter"
Currently outline will be marked `interactive` if its parent line style is marked `interactive`. But its perfectly legal to set `interactive` false for an `outline` explicitly, which will not work in current implementation.

[2017-01-25 16:23] hjanetzek commented on #1246
Using `-fvisibility=hidden` is a good idea. For Android it should be sufficient to just enable this option as JNIEXPORT is defined as `#define JNIEXPORT  __attribute__ ((visibility ("default")))`

[2017-01-25 21:20] matteblair opened #1253 "iOS framework CI should deploy builds with debug symbols"
We should produce 'snapshot' builds of the iOS framework that include debugging symbols so that we can attach a debugger and profiler when testing out new builds.

These builds should be hosted on S3, since hosting a large number of builds in the ios-framework repo will quickly balloon it's size.

[2017-01-25 23:07] karimnaaji commented on #1246
Yes, more generally we could have a separate `#define TANGRAM_EXPORT` to do so.
On android, I assume that only the JNI part should be exposed, iOS would only need the `TGMapController` interface and for the C++ shared library whatever is needed from `tangram.h` (depends on https://github.com/tangrams/tangram-es/issues/1034).

[2017-01-26 10:19] ivangorelow opened #1254 "offset in yaml"
Doesn't work right

[2017-01-26 11:07] am2222 opened #1255 "Android webview and Tangram support"
Hi,
Does anyone knows if androids webview supports tabgram or not?As far as I know it does not support WebGL in older versions. So does it make tangram maps does not show?

[2017-01-26 14:18] tallytalwar commented on #1254
Can you give more description on what are you trying to do here? Are you talking about the draw parameter [`offset`](https://github.com/tangrams/tangram-docs/blob/gh-pages/pages/draw.md#offset)?

Can you also include the scene file with some screen shots to give us some more context to the problem you are having?

Thanks

[2017-01-26 14:29] #1206 closed

[2017-01-26 16:05] matteblair commented on #1255
Hello!

It seems that WebGL is supported on newer versions of the Android WebView sofware, but won't be available on versions before Android 5.0 (https://developer.chrome.com/multidevice/webview/overview). The tangram JS library also uses Web Workers, which may not be supported in Web View. tangram-es is designed specifically as a more efficient solution for map rendering on Android, so obviously

[2017-01-26 19:58] #1065 closed

[2017-01-26 20:45] am2222 commented on #1255
Hi @matteblair
I have already tried JS library and it workes on android 5 above but every time I must clear the catch to show map, I have no idea if it is because of tangram or something else.
How can I find features of tangram-es? I want to draw routes and users location and rotation. I have no Idea if tangram-es supports it or not?

[2017-01-26 22:05] matteblair commented on #1255
Glad to hear the WebView works! I don't have any guesses why the cache would impact tangram though.

A convenient way to use tangram-es on Android is the [Mapzen Android SDK](https://github.com/mapzen/android), which includes location services and overlays. You can find all the documentation on our website: https://mapzen.com/documentation/android/

[2017-01-27 06:15] am2222 commented on #1232
@matteblair Hi,
Is it possible to feed source from a jeojson in runtime?As we can do in JS?sth like this
`	layer.scene.setDataSource('dynamic_data', { type: 'GeoJSON', data: json});`

[2017-01-27 06:26] am2222 commented on #1255
@matteblair ,Hi,
You know I want to use my own services for navigation, basemap, etc so as I looked at those documentations I can't use mapzen's services duo to their own specifications. The main things that I am looking for is drawing user current position, drawing route which is consumed of a service which returns jeojson, drawing a 3d shape of building which comes from a service in geojson form

[2017-01-27 16:48] tallytalwar commented on #1254
I am going to close this, as `offset` works in all our examples. Please reopen with the details of what issues you are seeing with `offset`.

[2017-01-27 16:48] #1254 closed

[2017-01-27 21:59] #951 closed

[2017-01-28 15:23] ac87 commented on #1255
I wouldn't try to use Tangram JS on Android when Tangram-ES exists.

[Eraser Map](https://github.com/mapzen/eraser-map) [(Google Play)](https://play.google.com/store/apps/details?id=com.mapzen.erasermap) is the best demonstrator of the Tangram capability on Android.

This [repository](https://github.com/ac87/tangram_android) demonstrates a number of things you are after without Mapzen's SDK:
- Cha

[2017-01-28 15:40] am2222 commented on #1255
@ac87 wow thank you, It seems the only remaining thing is about marker animations.I hope It is possible to do it. thanks

[2017-01-28 17:29] ac87 opened #1264 "Using Marker Animation causing run away view Re-rendering."
See this sample app and in particular this [commit ](https://github.com/ac87/tangram_android/commit/dfcfb974b85667fecc450ddef22979c6457aa35d)

If `myLocationMarker.setPointEased` is used, the `MapController.ViewCompleteListener()` registered in `MainActivity ` gets called constantly ("View complete" appearing in the LogCat). This would be expected for 200ms but not constantly after.

Stopping the

[2017-01-28 17:31] ac87 commented on #1255
@am2222 See update. I was using setPosition instead of setPositionEased. That said it causes some weird behavior using setPositionEased, so I might be using it wrong. #1264

[2017-01-29 12:50] am2222 commented on #1255
@ac87 thanks very much for your great information

[2017-01-29 22:52] matteblair commented on #1264
Hi again, thanks for the report. From the code here and your description this does sound like a bug - the view should only re-render continuously for the duration of the easing.

I will try to replicate this behavior and see if I can find a work-around for you while we fix it.

[2017-01-29 22:58] matteblair commented on #1255
Great answer! You are correct that the Mapzen Android SDK provides location and routing using our own hosted services. It's certainly possible to use your own services for these (you can even model it on the Mapzen SDK), it will just take a bit more work.

Do you have more questions about using tangram-es for rendering?

[2017-01-30 18:33] ecgreb opened #1265 "Demo app fails to load Refill style (Android)"
Steps to reproduce:

1. Clone https://github.com/tangrams/refill-style-more-labels into `[PROJECT_ROOT]/scenes` folder.
2. Update `MainActivity.java` line 57 to load Refill style.

[code]

3. Launch demo app and notice no map is loaded (black screen). Setting other house styles in this fashion successfully loads a map (tested with Bubble Wrap and Cinnibar).

[2017-01-30 18:57] tallytalwar opened #1266 "Add tangram ios documentation"
And publish it aptly under https://mapzen.com/documentation/tangram/

cc. @karimnaaji @msmollin

[2017-01-30 20:34] msmollin commented on #1266
For auto-generated code docs, tools options include:
- https://github.com/tomaz/appledoc ( The reliable choice )
- http://www.stack.nl/~dimitri/doxygen/ (old and deprecated for obj-c)
- https://github.com/realm/jazzy (new hotness)

I would recommend looking at Jazzy first as that's where much of the community focus has been recently.

As far as format for API, there's a frustrating divergence in t

[2017-01-30 21:25] #1265 closed

[2017-01-30 21:27] matteblair commented on #1265
Verified - this is not specific to Android, it's a bug in a core library dependency. The commit of yaml-cpp that we use currently has a bug that causes a byte-order mark in a YAML file to cause a parsing error.

We've fixed this temporarily in tangram-es by just skipping a BOM before we pass the scene file to the parser.

[2017-01-30 21:28] ecgreb commented on #1265
👍

[2017-01-31 16:43] #972 closed

[2017-02-01 09:49] jingyibo123 opened #1269 "MapData.addGeoJson function bug with special characters"
Hello everyone,

I'm using the android framework, trying to overlay some vector data with the MapData.addGeoJson function.
When the the geoJson data contains special characters such as "é", "à", "ç", etc , the app crashes and gives the following error message in Android Studio:

[code]
I'm not sure if it's a bug with tangram or which external module?

[2017-02-01 19:30] matteblair commented on #1269
This appears to be originating from one of our dependencies, geojson-vt-cpp: https://github.com/tangrams/geojson-vt-cpp/blob/acf68233caf1f5f0324ef74f93ebf9678e8af252/src/geojsonvt.cpp#L30

Going further in, this seems to result from a parsing error in RapidJSON, which geojson-vt-cpp uses to parse JSON strings. RapidJSON seems to think the input string is not valid JSON, at least using the default

[2017-02-01 19:40] matteblair commented on #1269
Hmmm this might be related to Java's uhh, special, relationship to UTF-8: https://developer.android.com/training/articles/perf-jni.html#UTF_8_and_UTF_16_strings

[2017-02-01 21:23] karimnaaji commented on #1245
Merged as part of https://github.com/tangrams/tangram-es/pull/1258

[2017-02-01 21:23] #1245 closed

[2017-02-02 10:55] jingyibo123 commented on #1269
Hi matteblair thanks for the response. Here's an example file that caused the problem. The file is encoded in UTF-8 without BOM.

[code]

[2017-02-02 15:13] Guillaume227 opened #1273 "Adding text to a marker icon"
I have a marker displaying an icon:
in code I set styling to : (my scene.yaml defines 'my_icons' style)
`"{ style: 'my_icons', sprite: 'booth',  color: '#ff48ed73', collide: false, interactive: true}"`

That's working nicely.
Now I would like to add a text label to that same marker. Is that possible, or do I have to add another marker with style 'text' (as mentioned in #1094 for example)?
I have t

[2017-02-02 18:08] tallytalwar opened #1275 "code signing for demo ios app on simulator"
In my fresh machine/xcode setup, I had to do following things different than what we have documented in the readme:

1. Change bundle identifier to something not `com.mapzen.tangram`
2. Click on `code sign on copy` for the TangramFramework under: `build phases -> copy phase -> framework`
  ![screen shot 2017-02-02 at 12 53 03 pm](https://cloud.githubusercontent.com/assets/360641/22561760/a1120556-

[2017-02-02 18:48] tallytalwar commented on #1016
Fixed by #1274

[2017-02-02 18:48] #1016 closed

[2017-02-02 18:50] matteblair commented on #1275
Number 2 is already noted in the iOS build section of the README. I've never had an issue with the bundle identifier, as far as I know I've always used `com.mapzen.tangram`. Have you tried changing it back to that and seeing if it works?

[2017-02-02 18:52] tallytalwar commented on #1275
Number 2 is there only for when one is trying to deploy on a device, which is not the case for me when I tried to run it on a simulator.

Yes, I did try reverting it back, which results in failing of code signing.

[2017-02-02 19:04] matteblair commented on #1269
Thanks for the sample! I just tried this out and it seems to be loading without a crash for me.

I copied and pasted your JSON into a file in my project at `src/main/res/raw/test.json`. Then I loaded the file with:
[code]
I was able to put this into a layer with `MapData.addGeoJson()` without any errors.

Depending on how you are loading the JSON strings in your application, the text could be refo

[2017-02-02 19:22] matteblair commented on #1275
Ah you're right - the note about "Code Sign On Copy" should apply to running on the simulator as well, I just verified that on my machine.

I can't reproduce the issue with the bundle identifier though, the simulator is happy to run using `com.mapzen.tangram`.

Maybe @ecgreb can try the same process on his machine, since he has a fresh environment too.

[2017-02-02 19:36] matteblair commented on #1273
Hi Guillaume,

tangram-es supports almost all of the parameters in the online documentation that you linked to, any parameters that aren't supported in -es are noted on in the documentation.

There is, however, a limitation for Markers that prevents drawing with more than one Style for a single Marker. Drawing Text along with an icon technically constitutes a second Style for the marker, so at the

[2017-02-02 19:40] tallytalwar commented on #1275
Yup, he is on it. Will give it a try today.

[2017-02-02 19:41] ecgreb commented on #1275
I will give the instructions a try and report back here.

[2017-02-02 23:24] ecgreb commented on #1275
I also needed to check the code sign box but did not need to rename the bundle to run on the simulator.

Also it appears the following step is undocumented:

[code]

Otherwise everything worked like a charm!

[2017-02-02 23:27] tallytalwar commented on #1275
Ahh I wonder why I have been having this bundle ID issue :|.

Anyways will update the readme for `xcpretty` install and code signing on copy check box.

[2017-02-02 23:30] tallytalwar commented on #1275
With respect to renaming the bundle id, does it allow you (@ecgreb)  to run on a device if you have the bundle id as `com.mapzen.tangram`?

[2017-02-03 17:44] Guillaume227 commented on #1273
Thank you Matt for your answer, I will make do with another marker for the label.

I have made some progress on displaying a label inside a polygon, however I am not quite there yet.
With the styling below I expect one label to be displayed at the centroid of my polygon (thanks to centroid: true) but instead I see the label repeated at every vertex of the polygon:

    `geofence:
        data: { s

[2017-02-04 07:41] nomizodiac commented on #1247
do i have option to set outline/stroke to Polygon? In Android sdk if i add a Marker like map.addMarker() and setStyle as setPolygon. Can i set its outline/stroke, stroke color and width?

[2017-02-06 12:48] sajadkhan opened #1276 "Marker Visibility"
markerSetVisible is not working as expected.
1. when visible is set to false it hides the marker but when tap on the area where marker was shown it throws the callback for marker selection.
2. when visible is set to false it hides the marker but on panning or pinching as the marker rebuilt itself it start showing.

[2017-02-06 13:16] jingyibo123 commented on #1269
Thanks a lot for the response. I did tried multiple way to read the file including yours, always the same error. And I did check the file String value before calling MapData.addGeoJson(). Everything works fine. I suppose I should have some kind of configuration problem. Thanks a lot anyway!

[2017-02-06 15:24] tallytalwar commented on #1276
Thanks Sajad

This sounds legit, will verify this and update and fix this issue.

[2017-02-06 17:00] tallytalwar commented on #1273
1. There is a bug in the current code for text drawing for polygon geometry data. It is currently not drawing at the centroid, but at every vertex of the polygon. I have filed a PR for this: https://github.com/tangrams/tangram-es/pull/1277. Also `centroid: true` is not a valid draw rules now. Previously it used to be applied to `point` based styles, but the functionality has been replaced by the [

[2017-02-06 18:06] tallytalwar commented on #1247
Hey Nouman

Currently a marker styling has a limitation that a marker can only be drawn with a single style. So it is not possible to style a "polygon" geometry marker with both `polygon` and `line` styles.

However a workaround this issue you can draw 2 markers for the same geometry, one with polygons style and another with lines style to get the outline/stroke of that marker.

Also request you t

[2017-02-06 18:32] Guillaume227 commented on #1273
I did indeed edit my initial post when I realized `centroid: true` didn't feature in the tangram doc anymore.
In that first attempt I could see the label repeated at every vertex as you say.
Thanks for the PR.

[2017-02-07 15:02] #1243 closed

[2017-02-07 16:10] #1269 closed

[2017-02-07 20:36] karimnaaji commented on #1275
By changing to a different apple id account I had similar issues to what @tallytalwar had.

![screen shot 2017-02-07 at 3 35 37 pm](https://cloud.githubusercontent.com/assets/7061573/22710389/198bdf00-ed4b-11e6-9af6-93934b0e8cba.png)

Using my original apple id account, I never had such issues.

[2017-02-07 22:45] karimnaaji commented on #1266
Doxygen is quite heavy and for its deprecation I think that we can take it out of the list.
I think that Jazzy is the most promising so far, some initial testing using it for the framework:

![screen shot 2017-02-07 at 4 06 15 pm](https://cloud.githubusercontent.com/assets/7061573/22714758/f24b348e-ed5b-11e6-8731-d93df03eac28.png)

[2017-02-09 09:16] #1189 closed

[2017-02-09 10:13] ivangorelow opened #1281 "offline map android"
I've seen that #982 closed, when are you going to release this features?

[2017-02-09 15:28] Guillaume227 commented on #1273
I can confirm that with the latest commit and using `placement: centroid` my text in polygon problem went away.

[2017-02-09 15:28] #1273 closed

[2017-02-09 15:33] Guillaume227 opened #1282 "Point marker size in meter"
I gather from the doc that the `size:` item that applies to `points` is interpreted as pixels units.
I would like to have a round marker that has a fixed sized with respect to the ground, no matter the zoom level.
Is there anyway to achieve that?

[2017-02-09 16:42] tallytalwar commented on #1281
We do plan on doing a major release maybe in a couple of weeks once we are done with some more big changes/features and are confident with the stability.

Thanks for the support and the patience :D.

[2017-02-09 16:42] #1281 closed

[2017-02-09 16:44] tallytalwar commented on #1281
Also #982 was closed in favor of #1015, which included the commits from the latter.

[2017-02-09 22:50] ecgreb opened #1283 "LabelPickListener.onLabelPicked(...) returns int values as floating point string"
Tile data includes `id` and `area` as JSON integer values however when the map of properties is returned by `LabelPickListener.onLabelPicked(...)` trailing zeros are added to both values resulting in `"377620411.000000"` and `"216.000000"` instead of `"377620411"` and `"216"`.

Would it be possible to return these values without adding a decimal point and trailing zeros?

[code]

[code]

[2017-02-10 10:02] seubseub opened #1284 "iOS pickMarker rarely called when touch Marker's location"
Hi

I have a issue for pickMarker method.
`func mapView(_ view: TGMapViewController, recognizer: UIGestureRecognizer, didRecognizeSingleTapGesture location: CGPoint) {

        view.pickMarker(at: location)
        view.pickLabel(at: location)
        view.pickFeature(at: location)
        let loca = screenPosition(toLngLat: location)
        print("latitude\(loca.latitude)")
        print("longit

[2017-02-10 15:26] karimnaaji commented on #1284
By the way our selection system works, it is not possible that you pick for the exact maker's location latitude and longitude, it should be a least the size of your marker, so in your case `30px`x`30px`.

Have you tried experimenting with different values of [setPickRadius](https://github.com/tangrams/tangram-es/blob/master/ios/src/TGMapViewController.h#L148)? It is basically a _thumb size_ that w

[2017-02-10 20:45] karimnaaji opened #1288 "Text label selection feature broken on current master branch"
The label gets selected and its identifier retrieved from the selection framebuffer but then I noticed that `Tile::getSelectionFeature(uint32_t _id)` always returns `nullptr`.

[2017-02-11 09:08] seubseub commented on #1284
Thanks It works! I didn't set setPickRadius. so default value  0.5 is set.
Anyway thank you! @karimnaaji

[2017-02-11 18:05] karimnaaji commented on #1284
Nice! Closing this.

[2017-02-11 18:05] #1284 closed

[2017-02-13 14:28] hjanetzek commented on #1288
https://github.com/tangrams/tangram-es/pull/1291

[2017-02-13 15:37] ericjj123 opened #1292 "Raspberry Pi 2 with fresh Jessie image unable to compile"
I've tried with both a RPi 2 and RPi 3 with fresh Jessie Images.  Both give the same error.

pi@raspberrypi:~ $ uname -r
4.4.34-v7+

pi@raspberrypi:~/tangram-es $ sudo make rpi
-- The C compiler identification is GNU 4.9.2
-- The CXX compiler identification is GNU 4.9.2
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI in

[2017-02-13 15:46] tallytalwar commented on #1292
@patriciogonzalezvivo can you give this a look please?

Thanks

[2017-02-13 15:52] patriciogonzalezvivo commented on #1292
I will

[2017-02-13 16:04] patriciogonzalezvivo commented on #1292
Yes... seams some of the cmake rules for raspberrry Pi have change in the last week... https://github.com/tangrams/tangram-es/commit/dbd321560a227dd62e34f11cf4aaf508363912af#diff-f7807da3f36f54f6d7d1e79b15025294 I'll work on it an push PR when I get it running again

[2017-02-13 18:30] tallytalwar opened #1293 "Incorrect shaped text"
While looking at curved text PR, I noticed some of hindi text are incorrectly shaped and specifically missing last glyph (shaped).

Example:
- Delhi (दिल्ली) is rendered as: दिल्ल
- Kolkata (कोलकाता) is rendered as: कोलकात
- Noida (नोएडा) is rendered as: नोएड
- Mussoorie (मसूरी) is rendered as: मसूर
- Ambala (अम्बाला) is rendered as: अम्बाल

The common error in the above example is that these are

[2017-02-13 19:03] hjanetzek commented on #1293
Looking into it - seems to be the TextBatch draw logic for glyph clusters. Fortunately not TextShaper :)

[2017-02-13 19:04] tallytalwar commented on #1293
Ahh I am looking at the shaper code,  which seems to be doing the correct
thing with delhi example. But I got familiar with this code a bit :).

On Feb 13, 2017 2:03 PM, "Hannes Janetzek" <notifications@github.com> wrote:

[2017-02-13 19:22] tallytalwar commented on #1293
No doubt I am seeing it only for the place labels and not for anything else like all the river labels are good.

[2017-02-13 19:53] tallytalwar commented on #1293
Looks like this piece of code: https://github.com/tangrams/tangram-es/blob/master/core/src/text/textUtil.cpp#L37-L55 is incorrectly breaking on `ल` for `दिल्ली`.

[2017-02-13 21:46] #1255 closed

[2017-02-13 21:47] #1198 closed

[2017-02-14 00:04] ericjj123 commented on #1292
I appreciate the quick response.  Thanks guys.

[2017-02-14 00:10] matteblair commented on #1264
Haha whoops - it looks like Marker easing is currently interpreting the time parameter as _seconds_ when it should interpret it as _milliseconds_, so the Markers are actually moving continuously - just very very slowly. That's our bad :\

We'll get this fixed in the next release but until then you can just divide your Marker easing times by 1000.

[2017-02-14 13:59] #1276 closed

[2017-02-14 14:51] patriciogonzalezvivo commented on #1292
Sure! Our pleasure! I'm working on a PR right now... hopefully this will be solve soon : )

[2017-02-14 15:38] patriciogonzalezvivo commented on #1292
@ericjj123 this is compiling on my end https://github.com/tangrams/tangram-es/pull/1296 You can give it a try from the PR. Or wait until the rest of the folks review and merge this in.

[2017-02-14 16:48] #1288 closed

[2017-02-14 19:17] karimnaaji commented on #1292
@ericjj123 should be fixed by https://github.com/tangrams/tangram-es/pull/1296.

[2017-02-14 19:17] #1292 closed

[2017-02-15 15:32] tallytalwar commented on #1275
Addressed by #1297

[2017-02-15 15:32] #1275 closed

[2017-02-15 15:54] tallytalwar commented on #1293
Resolved by #1294

[2017-02-15 15:54] #1293 closed

[2017-02-15 21:18] #1266 closed

[2017-02-15 21:18] #1210 closed

[2017-02-16 16:28] matteblair commented on #1283
We can change how these number strings are formatted. What are you using it for exactly?

[2017-02-16 16:52] matteblair commented on #1282
You are correct, point features can only be sized in pixels. To create a feature that covers a fixed area on the ground, you may be better off creating a polygon feature with the dimensions you want. Would this work for your use case?

[2017-02-16 18:17] ecgreb commented on #1283
The `id` is used to construct a gid when making a request against the Pelias /place endpoint to fetch additional details about a POI that is displayed on the map.

Not a big deal but right now we have to split the string and remove the decimal plus trailing zeros before converting to an integer.

Currently we are only checking for the presence of the `area` key and not parsing the value.

https://

[2017-02-16 18:20] #1264 closed

[2017-02-16 19:11] karimnaaji commented on #1282
Another feature request describing the same issue in https://github.com/tangrams/tangram-es/issues/1121.

[2017-02-16 19:27] msmollin commented on #583
Not to start a style argument, but coming from learning C++ on Windows, that's not the standard there - https://msdn.microsoft.com/en-us/library/5cb46ksf.aspx

snake_case is only used for `inline` namespaces which came in C++11.

Not saying we need to follow Microsoft's example here or anything - it just may seem weird to a rather large set of C++ devs. Probably would be good to have a style docum

[2017-02-16 19:45] #1204 closed

[2017-02-20 11:26] am2222 opened #1303 "Can some one helps me to setup android library on windows?"
Hi,
Its a few days that I am working on tangram-es for android but could not success setting up it on android studio, I have downloaded this project and added into android studio (only Android folder in platforms) and When I try to build it gives me this error

I have installed github for window and added its git.exe directory in android studio setting .I have also added these commands
[code]

Can

[2017-02-20 13:15] hjanetzek commented on #1303
@am2222 how did you 'download' tangram-es? Please try
[code]

If that works, importing the project in android-studio should work as well

[2017-02-20 15:49] am2222 commented on #1303
@hjanetzek  hi,
I have added it using android studio new project>from github. I'll try your solution and report the result thanks

[2017-02-20 16:08] am2222 commented on #1303
@hjanetzek  I run your command and this is the result
`Cloning into 'tangram-es'...
remote: Counting objects: 50657, done.
remote: Compressing objects: 100% (125/125), done.
remote: Total 50657 (delta 54), reused 1 (delta 1), pack-reused 50513
Receiving objects: 100% (50657/50657), 31.06 MiB | 43.00 KiB/s, done.
Resolving deltas: 100% (36751/36751), done.`
then I had to change your command into '

[2017-02-20 22:26] westnordost opened #1305 "Crash when reentering app on Android"
**Happens with**: Tangram 0.4.8

Whenever I open my app, go into the settings activity and then go back (to the map activity), the app crashes with
`A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 20512 (GLThread 1803)`
with no further information.
Other than for Tangram-ES, no OpenGL is used in my app, so I guess this is coming from the native part of Tangram. I will try to find

[2017-02-20 22:57] westnordost commented on #1305
I traced where exactly the error occurs and found out that it occurs when `MapController` calls `nativeDispose`.
Naturally, I couldn't trace it further than that. It is called because the Android system decided to completely destroy the map activity first when navigating back to it. Don't know why, but this is not the issue anyway.

[2017-02-20 23:12] westnordost commented on #1305
Oh nice, I updated to 0.4.9 and the crash does not happen anymore. Very cool :-)

[2017-02-20 23:12] #1305 closed

[2017-02-21 16:30] matteblair commented on #1303
It may be easier to configure and run the project from Android Studio, at least for the very first build. There are some configuration files that need to be updated with the location of your Android SDK and Android NDK, and Android Studio will do that for you.

The location of the Android project that you should open with Android Studio is 'tangram-es/platforms/android'. Try opening and running th

[2017-02-21 17:00] am2222 commented on #1303
@matteblair  Thanks for your answer, So you mean I must download this project using git and then add 'tangram-es/platforms/android' as a new project, I have done this before and If my memory serves me It did not work, you mentioned about some configurations..where should I configure them?Is there any specific file or things like that?

[2017-02-21 18:23] matteblair commented on #1303
Android Studio creates a file called 'local.properties' in the project folder which contains the locations of the Android SDK and Android NDK on your local machine.

The process that has worked for me on Windows is:
 - Make sure Android Studio is at version 2.2 or newer
 - `git clone https://github.com/tangrams/tangram-es`
 - `cd tangram-es`
 - `git submodule update --init --recursive`
 - In Andro

[2017-02-21 21:28] am2222 commented on #1303
@matteblair  Thanks for your help. It worked but I faced this error

[code]
Here is the error.
`H:\Personal\APPlications\TangramES\Tangram-es\tangram-es\core\src\style\textStyle.cpp
Error:(13, 10) fatal error: 'text_fs.h' file not found
Information:BUILD FAILED`

Can you please give me some hint about it?
why there is not any easy method to use this library such as marvin and so on?

[2017-02-21 21:57] matteblair commented on #1303
You can use tangram-es as an Android dependency through Maven!

http://search.maven.org/#search%7Cga%7C1%7Ctangram

Just add `compile 'com.mapzen.tangram:tangram:0.5.0'` to the `dependencies` section of your Gradle configuration. If you do not need to make changes to the library then that is definitely the better approach :)

[2017-02-22 08:36] am2222 commented on #1303
@matteblair  wow thank you. I really was in need of this. I could not find it in readme. Please add it into readme file.

[2017-02-22 08:37] #1303 closed

[2017-02-22 08:53] Guillaume227 commented on #1282
@karimnaaji Thanks, I did a quick check of open issues before but somehow missed that one.
@matteblair I agree I could use a polygon as a workaround with enough vertices so it looks like a circle but that sounds rather contorted.

I am ok to close that thread then and follow up there.

[2017-02-22 08:53] #1282 closed

[2017-02-22 08:56] Guillaume227 commented on #1121
@westnordost : one other posssible workaround would be to use a circular marker together with a js function for the size. That function would back out the size in pixel from the zoom level so it remains constant in meters. I haven't tested that yet.

[2017-02-22 11:23] ivangorelow opened #1309 "Android cache"
How can I use cache on android?

[2017-02-22 16:10] matteblair commented on #1309
@ivangorelow Hello again! With the Android library you can use HTTP caching by creating an `HttpHandler` object with a file cache and then giving that handler to the `MapController` with `setHttpHandler`. An example of this is in our demo application: https://github.com/tangrams/tangram-es/blob/master/platforms/android/demo/src/main/java/com/mapzen/tangram/android/MainActivity.java#L84-L114

Does

[2017-02-22 19:57] matteblair commented on #1232
@am2222 Yes, you can add GeoJson data to the map at run-time. In the Android interface, you would create a `MapData` object with `MapController$addDataLayer(layerName)` and then add your GeoJson to that object with `MapData$addGeoJson(geoJsonString)`.

[2017-02-22 19:58] matteblair commented on #1232
Closing this issue since there don't seem to be further questions about the original topic.

[2017-02-22 19:58] #1232 closed

[2017-02-22 20:01] matteblair commented on #1229
Creating complex 3D shapes is not really what vector tile data was intended for. Tangram can currently only create extruded shapes from polygons with a "height" property. With many extruded shapes together, you can theoretically create a wide range of shapes. However, this isn't a feature that tangram was designed for and we aren't able to provide support for it.

[2017-02-22 20:01] #1229 closed

[2017-02-22 20:53] #1162 closed

[2017-02-22 20:54] matteblair commented on #1137
Closing until there are further questions on this topic

[2017-02-22 20:54] #1137 closed

[2017-02-23 11:18] sheikh-iffi opened #1313 "Directional arrows"
Hi guys

I am facing some issues regarding directional arrows.

**1:** At some places, arrows are drawn at wrong places e.g. in the below image arrow is not drawn on road
![screenshot from 2017-02-23 12-46-28](https://cloud.githubusercontent.com/assets/12157369/23256760/b695fdaa-f9e2-11e6-9305-cb7f77f4ab20.png)

**2:** At some places arrows direction is wrong. e.g. in the below image you can see E

[2017-02-23 11:36] horvayev opened #1314 "tangram-es vs. tangram styles"
Hello, I am rewriting [mapbox style](https://github.com/klokantech/mapbox-gl-js-offline-example) using tangramplay. I load same data using [tileserver-gl](https://github.com/klokantech/tileserver-gl). It works in tangram play, but text and lines are not displayed when I use the scene in android. Layers styles:

[code]

and

[code]

yaml file:

[code]

I tried to specify font loaded from internet o

[2017-02-23 15:03] horvayev commented on #1314
ok, so the problem was in identation. I didn't know I can't use tabs. It works now.

[2017-02-23 15:20] hjanetzek commented on #1314
hey -- could you share the scene file that did not work? Tabs should be ok just some mixes of tabs and spaces in the indentation are problematic (in strict yaml)

[2017-02-23 16:18] horvayev commented on #1314
I have been playing with it a little bit more. I just realized that on linux and android i have to specify fonts in order. This was the problem.  Bad identation just resulted in black screen. I do not have original file, but [current scene](http://pastebin.com/7v1RHEDu) is still not working on 100%. Layer (should display blue line between water and country)
[code]
doesn't work on on adnroid/linux

[2017-02-23 17:00] bcamper commented on #1314
@hjanetzek could this be an issue with default font family (or lack of)? Tangram JS has a default font family (Helvetica) if not specified. Do we do the same on ES or is specifying `family` required?

[2017-02-23 17:04] tallytalwar commented on #1314
I also see that "order" draw rule is not defined the line style above.
"Order" is a required property for lines and polygon styles. Could it be
that?

On Feb 23, 2017 1:00 PM, "Brett Camper" <notifications@github.com> wrote:

[2017-02-23 17:31] matteblair commented on #1314
I think @tallytalwar is correct. If you add `order: 20` to `layers.country-glow-inner.draw.lines` you get the expected result:
<img width="912" alt="screen shot 2017-02-23 at 12 29 27 pm" src="https://cloud.githubusercontent.com/assets/3371850/23271004/e15dec38-f9c3-11e6-907e-823a31f24c47.png">

Tangram Play should have the same behavior for the `order` parameter, it may be a bug that line feature

[2017-02-23 17:33] horvayev commented on #1314
Yep, thats it. Just added order and it works. Didn't expect what it can be a problem since in web version it works without it.

[2017-02-23 17:52] matteblair commented on #1314
As noted in the tangram docs (https://mapzen.com/documentation/tangram/draw/#order) `order` is a _required_ parameter for lines and polygons, so the correct behavior here is that a line draw rule without an `order` value should not be drawn. Thank you for helping us find this discrepancy!

[2017-02-23 17:52] #1314 closed

[2017-02-23 19:22] rwrx opened #1316 "Map styles library created by other developers"
I just wanted to ask whether there is some library of user's created map styles or if you are planning such library in order for developers to share their map styles.

[2017-02-23 22:40] nvkelso commented on #1316
@rwrx neat idea! do you have any styles to share &/or highlight in such a library?

We've created a few basemap styles at Mapzen, you have preview them here:

- https://mapzen.com/products/maps/

[2017-02-23 22:46] rwrx commented on #1316
Yes, I did know about Mapzen basemap styles. I was just wondering if there is some library with user created styles. Unfortunately I don't have any styles, but in a short time I want to create some simple styles.

[2017-02-25 04:43] 91yuan opened #1319 "got a SIGSEGV signal"
Hello，i had build and run tangram-es with qtCreator 3.5.1 Based on Qt 5.5.1(GCC 4.9.1 20140922) in Ubuntu  Kylin 14.04 32bits, and got a segmentation fault.
the error code  is at "labelCollider.cpp":155;
this is the crash stack!
0	Tangram::LabelCollider::<lambda(auto:13&, auto:14&)>::operator()<isect2d::ISect2D<glm::tvec2<float, (glm::precision)0u>>::Pair, isect2d::ISect2D<glm::tvec2<float, (glm::

[2017-02-26 16:30] horvayev opened #1320 "Polygon marker opacity"
Hello, I'm trying to display polygon marker with opacity but it doesn't work. Style I use:
[code]
I noticed it works for point markers and polygons within datalayers.

[2017-02-27 07:28] ivangorelow commented on #1309
and is it possible to load map localy?

[2017-02-27 15:39] tallytalwar opened #1321 "Add ability to load scenes from zip files"
To match JS functionality: https://github.com/tangrams/tangram/pull/358

[2017-02-27 17:17] nvkelso commented on #1321
Long term I'd _only_ like to distribute scenes as ZIP bundles, +1000 for adding this support to Tangram ES :)

[2017-02-27 18:52] patriciogonzalezvivo opened #1324 "`Tangram::update()` returns `true` before the scene finish loading"
I'm using last version of Tangram-Es Map at paparazzi, here https://github.com/tangrams/paparazzi/blob/rearch/worker/src/paparazzi.cpp#L152 and returns true way before finishing... producing incomplete scenes screenshots : /

[2017-02-28 23:43] Guillaume227 opened #1329 "Broken Cpp Compilation with latest code (tangrams/update-geojson-vt changes)"
@hjanetzek I get the following in a fresh clone. I am running Android Studio 2.3 RC1.
Seems related to recent merge of PR #1306

[code]

[2017-02-28 23:44] tallytalwar commented on #1324
Gave this a shot today. Can not repro this explicitly on tangram-es demo app. But its reproducible in paparazzi from my machine. Still debugging (post S3 fire).

[2017-03-01 08:46] hjanetzek commented on #1329
Hi @Guillaume227. Compilation works with Android Studio 2.3 RC1 on linux. I guess the NDK on windows contains a different (older) clang version.

Could you try https://github.com/tangrams/tangram-es/pull/1330/commits/75a8609bac45c7f18d3fbf2215a4da7a5a70a53c ?

[2017-03-01 09:08] Guillaume227 commented on #1329
Hi Hannes,

I should have specified I was running Windows indeed.
I can confirm that fixes. Thank you !

[2017-03-01 17:22] #1329 closed

[2017-03-01 23:44] rwrx opened #1334 "Cannot run Android demo app under Windows"
When I try to run Android demo app under Windows 7 with Android Studio 2.2.3, I get these errors:

`core/src/gl/renderState.cpp - fatal error: 'defaultPointTextureData.h' file not found`
`core/src/gl/primitives.cpp - fatal error: 'debugPrimitive_vs.h' file not found`
`core/src/gl/shaderSource.cpp - fatal error: 'selection_fs.h' file not found`

I have done new `git clone` command and `git submodul

[2017-03-01 23:55] karimnaaji commented on #1334
Hey @rwrx ,

I think to fully support Android Studio on Windows we would need to update a little bit our build system that generates the shaders' headers. We use that script to simplify distribution of the library, so we don't have any dependent resources along with the binary.

Would you mind giving a try at this branch https://github.com/tangrams/tangram-es/tree/patch-android-studio-windows and

[2017-03-02 00:08] karimnaaji commented on #1319
Hi,

We don't support Qt as a platform yet, have you been able to reproduce this issue in the platforms we currently support (iOS, Android, Ubuntu Linux, OS X)? If so, that would make things much easier for us to debug and track this issue.

I will close for the time being, but feel free to reopen if you manage to reproduce on those platforms.

[2017-03-02 00:08] #1319 closed

[2017-03-02 00:13] rwrx commented on #1334
Hello, thank you for rapid response! I tried to run it on that branch. Now I get only one error, but it is rather long, so I added it to this file: [error.txt](https://github.com/tangrams/tangram-es/files/812382/error.txt).

[2017-03-02 00:14] tallytalwar commented on #1313
Can you share the scene file with us? And are you using our vector tile source?

Arrows are drawn based on the underlying geometry. My initial hunch is that the underlying polyline data could be incorrect. But can not be sure without looking at the scene file and referring the underlying vector tile data.

[2017-03-02 00:18] karimnaaji commented on #1320
Hi @horvayev ,

The blending mode is a parameter of the style, when setting a marker you set the strings that corresponds to a [draw rule](https://github.com/tangrams/tangram-es/blob/master/core/include/tangram/tangram.h#L211_L213). I would refer the documentation on how to setup a style for a specific blending mode [here](https://mapzen.com/documentation/tangram/styles/#blend).

Also, I notice th

[2017-03-02 00:18] #1320 closed

[2017-03-02 00:22] karimnaaji commented on #1334
The actual error seems to be at the very end:

[code]

Looking more!

[2017-03-02 00:26] karimnaaji commented on #1334
Can you give it another try with https://github.com/tangrams/tangram-es/commit/82ea86e0858f4fc6574ba869a154395cfb6fae93?

[2017-03-02 00:28] tallytalwar commented on #1309
Yes we added support for `mbtiles` in #1015. You will need to have the tile set in a [`mbtiles`](https://github.com/mapbox/mbtiles-spec) format.

Setting the scene file using the following syntax, you should be able to load the map using your `mbtiles` file.

[code]

Let us know if this works for you.

[2017-03-02 00:32] horvayev commented on #1320
It was it. Thank you @karimnaaji .

[2017-03-02 00:36] #1233 closed

[2017-03-02 00:36] tallytalwar commented on #1233
We have reorganized a lot of our code structure to use subtrees for some dependencies, and as mentioned by @matteblair above, for some projects it is much convenient to keep these as submodules. To further help your cause, we also cleaned some of our dependencies so that we do not have to maintain recursive submodules (refer: https://github.com/tangrams/tangram-es/pull/1304).

I am closing this fo

[2017-03-02 01:24] #1195 closed

[2017-03-02 01:27] tallytalwar commented on #1203
As mentioned above please submit a PR or a scenario which causes this issue. Please feel free to reopen if its still an issue with more information. Thanks

[2017-03-02 01:27] #1203 closed

[2017-03-02 02:07] karimnaaji commented on #1115
Hi, support for this feature is now on master branch. Follow the closed pull requests for usage informations. Documentation will be added soon.

[2017-03-02 02:07] #1115 closed

[2017-03-02 04:24] sheikh-iffi commented on #1313
I am using your scene file [scene.yaml](https://github.com/tangrams/tangram-es/blob/master/scenes/scene.yaml) without any changes.

[2017-03-02 04:24] tallytalwar commented on #1313
K will give this a look and update. Thanks

[2017-03-02 08:36] rwrx commented on #1334
Thank you. Something has changed a little bit but basically the same error: [error.txt](https://github.com/tangrams/tangram-es/files/813153/error.txt).

[2017-03-02 13:00] ivangorelow commented on #1309
no, it doesn't workt

I have error `ERROR mbtilesDataSource.cpp:246: Unable to open SQLite database:`

[2017-03-02 13:07] tallytalwar commented on #1309
Thanks @ivangorelow

Can you share the MBTiles file you are trying to open?

Thanks

[2017-03-02 13:11] ivangorelow commented on #1309
@tallytalwar  https://openmaptiles.os.zhdk.cloud.switch.ch/v3.3/extracts/moscow_russia.mbtiles

[2017-03-02 15:28] karimnaaji commented on #1334
I suspect that the CMake variable `CMAKE_SYSTEM_NAME` is not equal to `Windows` when building from Android Studio.

I commented the lines in question in commit https://github.com/tangrams/tangram-es/commit/f90f324d1183e03f2476fbab0468083117a9c0a8, if you checkout the branch again that might fix your issue. If it still doesn't work you could add:
[code]
Around the same lines to see what this variab

[2017-03-02 15:31] karimnaaji commented on #623
Closing this issue as main work as been merged in master branch in https://github.com/tangrams/tangram-es/pull/1015.

[2017-03-02 15:34] karimnaaji commented on #1011
More complete instructions to build for Android have been added here https://github.com/tangrams/tangram-es/tree/master/platforms/android. If this is still an issue with the new instructions feel free to reopen.

[2017-03-02 15:34] #1011 closed

[2017-03-02 15:35] karimnaaji commented on #960
Merged as part of #1015

[2017-03-02 15:35] #960 closed

[2017-03-02 15:58] tallytalwar commented on #1313
So looked some more into this:

1. **Arrow not on road**
  It looks like we do have some issues with arrow placement and overzooming.
  At zoom < 18:
  ![screen shot 2017-03-02 at 10 23 57 am](https://cloud.githubusercontent.com/assets/360641/23513763/30d9bab6-ff33-11e6-8a61-e2d0fc92823c.png)
  At zoom > 18:
  ![screen shot 2017-03-02 at 10 24 06 am](https://cloud.githubusercontent.com/assets/3606

[2017-03-02 19:16] #1283 closed

[2017-03-02 19:36] rwrx commented on #1334
Thank you, but still without no luck. I fetched your new commit and issue is back as was in first message in this issue thread - all three files not found. I've also added that line but I don't know where I could see that message printed.

[2017-03-02 20:40] tallytalwar commented on #1309
Ok looks like we need to do resolve android asset path for sqlite database construction, which is not being done at present.

@ivangorelow what path are you putting the mbtiles file in? Are you bundling with the asset?

[2017-03-02 20:50] tallytalwar opened #1337 "travis bench tile gunzip once tiles are fixed"
Once tiles are updated post https://github.com/mapzen/tile-tasks/issues/212, change the travis benchmarking script to do the following:

`curl -L https://tile.mapzen.com/mapzen/vector/v1/all/10/301/384.mvt?api_key=vector-tiles-tyHL4AY | gunzip > tile.mvt`

[2017-03-02 20:52] tallytalwar opened #1338 "Styles can specify default `draw` parameters"
Refer JS work for details: https://github.com/tangrams/tangram/pull/504
JS Issue: https://github.com/tangrams/tangram/issues/489

[2017-03-02 20:54] tallytalwar opened #1339 "ES equivalent for JS's Oriented lines feature"
Refer the following PR and issue for details:

JS PR: https://github.com/tangrams/tangram/pull/506
JS Issue: https://github.com/tangrams/tangram/issues/471

[2017-03-03 06:53] JinYongwHwa commented on #1309
I try offline tangram map by mbtiles

this is my scene file
[code]

this is my test mbtiles file (1-10 zoom level seoul )
[seoul.zip](https://github.com/tangrams/tangram-es/files/815984/seoul.zip)

i have error too

mbtilesDataSource.cpp:246: Unable to open SQLite database: file:///storage/emulated/0/test/seoul4.mbtiles - unable to open database file

p.s
@matteblair Thank you very much to make th

[2017-03-03 09:14] ivangorelow commented on #1309
@tallytalwar I try to bundle with asset. I try to do it with full path

[2017-03-03 11:48] tallytalwar commented on #1309
Yup,  was just confirming. I was able to reproduce this behavior. Will update when I have more information on this.

Thanks again for the report.

[2017-03-04 19:14] rwrx commented on #1334
I was able to get it working using [this](https://github.com/rmitton/incbin/blob/master/incbin.bat) incbin.bat file instead of one which is in scripts folder. Also I kept commented these lines:

[code]

When I remove uncomment these lines it won't work again.

[2017-03-05 21:25] matteblair commented on #1309
@JinYongwHwa @ivangorelow File access on Android can be a little complicated. Currently we can only load MBTiles files that are _not_ in the asset bundle for your application (because asset bundles are zip archives and not directories). You'll need to put your MBTiles file in your device storage and use the path to that file as the `url`, like `/storage/emulated/0/test/seoul.mbtiles` from the exam

[2017-03-06 01:39] JinYongwHwa commented on #1309
@matteblair thanks for your answer

I change schema
[code]

then i find this error log
[code]

[2017-03-06 05:26] matteblair commented on #1309
Oh I see the problem now, there's a bug in our implementation.

When a URL in a scene is resolved, it uses the location of the scene file as the base URL. This means that if the URL isn't absolute (i.e. doesn't start with a scheme like 'file' or 'http') then it is treated as relative to the scene file, which itself has the 'asset' scheme.

We can fix this by using only the 'path' portion of the UR

[2017-03-06 10:03] ivangorelow commented on #1309
@matteblair thank you for attention. But could you show working example?

[2017-03-06 15:55] matteblair commented on #1309
@ivangorelow We can provide a working example once we fix this bug in our implementation of this on Android.

[2017-03-06 19:23] #1324 closed

[2017-03-07 15:35] tallytalwar commented on #1313
We resolved the issue with the arrow being shown outside roads, on overzooming (#1342). Other issues mentioned in the original issue description have already being addressed above in the comments, marking this resolved and closing.

Thanks

[2017-03-07 15:35] #1313 closed

[2017-03-07 16:59] patriciogonzalezvivo opened #1345 "Tangram::udpate() returns true prematurely only the first time"
So... now... is returning true when ALL tiles finish composing the geometry of what seams to be landuse (that in the case of tron use elevation raster tiles)

![screen shot 2017-03-07 at 11 50 03 am](https://cloud.githubusercontent.com/assets/346914/23667956/883ec17c-032d-11e7-898a-6e1e5de992d5.png)

That's how it looks... the rest of the calls are 100% fine... is just that first one time

[2017-03-07 17:47] bcamper commented on #1345
Boring map

On Tue, Mar 7, 2017 at 11:59 AM, Patricio Gonzalez Vivo <
notifications@github.com> wrote:

[2017-03-07 17:59] sarahlensing opened #1346 "Allow loading scene file from custom NSBundle"
Currently all scene files are loaded from the main bundle:
https://github.com/tangrams/tangram-es/blob/master/platforms/ios/src/TangramMap/platform_ios.mm#L35

But, in the sdk, as we move from using submodules to pods for the dependent stylesheets we will want to pass in custom bundles to load the scenes from. Could we provide a version of `resolvePath` which takes a bundle parameter?
[code]
https

[2017-03-07 18:22] karimnaaji commented on #1346
Yep it is be possible to add fallback resolution that would target the iOS SDK bundle. We had a similar way to handle framework resources for fonts that were bundled into the Tangram framework, until we added platform system fonts where we moved away from it.

What we would need is an optional setter on `TGMapViewController` to add a bundle fallback, if the resource hasn't been found from the main

[2017-03-08 05:25] sheikh-iffi commented on #1313
Thanks
Issue regarding arrow being shown outside roads is solved now. But I still can't solve the issue about :

Can you tell me what you did to fix it?

[2017-03-09 15:06] TGISer opened #1351 "build the "library" and "demo" on windows"
I open the project in Android Studio and press the 'Run' button (^R).

Error:A problem occurred configuring project ':demo'.

How can i solve the error ,thank you for your help!

[2017-03-09 15:39] tallytalwar commented on #1351
Hi @TGISer

We have tested and support android builds on windows 10. What windows are you using?

Also, did you `init` and `update` the submodules? Try doing the following:
1. After cloning the project, run: `git submodule update --init`
2. In your already created android studio project, sync gradle again for it to pick up the changes from the submodules.

If this does not work, can you post your

[2017-03-09 15:56] #1081 closed

[2017-03-09 16:10] karimnaaji opened #1353 "Tiles loading is always returning true on iOS and Android"
The tiles loading boolean that we use to know whether the whole set of visible tiles are loaded for the current screen view is always returning true on both Android and iOS platforms, which makes our on map ready event broken. This is not reproducible on OSX and Linux where this works as expected.

[2017-03-09 18:58] lygstate opened #1355 "textShaper.cpp may cause overflow, Visual Studio raise error for it。"
file: core\deps\alfons\src\alfons\textShaper.cpp
[code]
The `id` may not exist in m_shapes,
may condition are: when id == 68
but the size of m_shapes are also 68.
[code]

[2017-03-09 19:36] hjanetzek commented on #1355
Thanks, I'll look into it.

On first sight it looks correct - `m_shapes` is large enough for the 'original text'. `id` is the 'cluster index' that correspondents to the index of the 'original text' (minus the _run.start offset)

From harfbuzz docs for hb_buffer_get_glyph_infos /  hb_glyph_info_t
[code]

[2017-03-09 19:40] hjanetzek commented on #1355
@lygstate  could you paste the full error or warning?

[2017-03-10 02:06] lygstate commented on #1355
[code]

[2017-03-10 02:06] lygstate commented on #1355
This is the call stack.

[2017-03-10 09:43] TGISer commented on #1351
@tallytalwar
I use windows 10.

1. git clone https://github.com/tangrams/tangram-es.git
2. git submodule update --init --recursive
3. open the project in Android Studio and press the 'Run' button (^R).

[2017-03-10 13:09] TGISer opened #1357 "run "android demo" on windows 10 error"
D/dalvikvm: Trying to load lib /data/data/com.mapzen.tangram.android/lib/libtangram.so 0x41723fe0
W/dalvikvm: Exception Ljava/lang/UnsatisfiedLinkError; thrown while initializing Lcom/mapzen/tangram/MapController;
D/AndroidRuntime: Shutting down VM
W/dalvikvm: threadid=1: thread exiting with uncaught exception (group=0x40aae210)
E/AndroidRuntime: FATAL EXCEPTION: main
                  java.lang.E

[2017-03-10 13:28] TGISer commented on #1351
@tallytalwar
I can do it now ! But when I run demo

D/dalvikvm: Trying to load lib /data/data/com.mapzen.tangram.android/lib/libtangram.so 0x41723fe0
 W/dalvikvm: Exception Ljava/lang/UnsatisfiedLinkError; thrown while initializing Lcom/mapzen/tangram/MapController;
 D/AndroidRuntime: Shutting down VM
 W/dalvikvm: threadid=1: thread exiting with uncaught exception (group=0x40aae210)
 E/AndroidRunt

[2017-03-10 16:36] hjanetzek commented on #1355
I think the issue is that the size of m_shapes is not always set to its actual capacity. However the use of m_shapes is always within the capacity, so technically there was no out-of-bounds access. Still nice that MSVC can detect this issue. https://github.com/tangrams/tangram-es/pull/1358

[2017-03-10 16:36] matteblair commented on #1357
We'll keep this in https://github.com/tangrams/tangram-es/issues/1351, to keep the context clear.

[2017-03-10 16:36] #1357 closed

[2017-03-10 16:36] matteblair commented on #1351
@TGISer did you change anything or take any different steps to get the build working?

[2017-03-10 18:14] #1353 closed

[2017-03-10 18:34] #935 closed

[2017-03-10 21:02] tallytalwar opened #1361 "segv when using walkabout style with bike updates"
Repro:

./tangram -f https://tangrams.github.io/walkabout-style/walkabout-style.yaml

Some initial hints: mismatched merging of sources results in bad scene config, which causes a crash down the line in StyleContext.

Stack trace:
[code]

Possible some edge case in the latest walkabout style which is causing this, but we should handle it gracefully anyhow.

[2017-03-10 22:14] matteblair opened #1362 "Android demo app should allow easily loading custom scenes from GUI"
This could be as simple as a text field to enter a url for an arbitrary scene file. A person with an Android phone should be able to download this demo from android.mapzen.com and put in their own scene file to quickly evaluate it.

@nvkelso @sensescape The goal of this is to make it easier for you to test scene files with tangram-es. Do you have other ideas of how we could facilitate this? We cou

[2017-03-10 22:57] tallytalwar commented on #1309
#1360 addressed this issue. Closing.

[2017-03-10 22:57] #1309 closed

[2017-03-10 22:57] TGISer commented on #1351
@matteblair
git submodule update --init --recursive
It doesn't work ，so  I download submodule by myself.

[2017-03-10 23:06] nvkelso commented on #1362
I like both options (text field and on OS X drag-and-drop in addition to
text field).

On Fri, Mar 10, 2017 at 2:14 PM, Matt Blair <notifications@github.com>
wrote:

[2017-03-10 23:16] nvkelso commented on #1361
Brett can walk you thru this, but we’re using a huge amount of nested
globals which might work on JS because of different order of operation
assumptions?

On Fri, Mar 10, 2017 at 1:02 PM, Varun <notifications@github.com> wrote:

[2017-03-10 23:16] matteblair commented on #1351
In the latest revision of tangram-es, there is actually no need for recursive submodules. `git submodule update --init` should be sufficient. It will be easiest to remove the code you manually downloaded and let git handle the submodules.

[2017-03-10 23:21] matteblair commented on #1361
@nvkelso Any chance some of the more complicated filtering logic can move to the tile server?

[2017-03-10 23:37] hjanetzek commented on #1361
This is the js stack before the failing call - I guess we should look at our code again.

But, yeah, that's quite a bunch of globals!
[code]

[2017-03-10 23:47] nvkelso commented on #1361
Maybe? They all hang off data properties now, it's just the combination explode as you see in https://github.com/tangrams/tangram-es/issues/1361#issuecomment-285814896. I wouldn't want to hard code any of this until it's been out in the wild and verified as "correct" for at least a few months.

[2017-03-11 00:00] matteblair commented on #1361
There are some simple things we can do to make this a bit better, but this pattern of writing a scene file entirely in `global` is comically, disastrously bad for the way tangram-es currently works.

Since `global` entries must be available to any JS functions in the scene, and by default we don't have a JS representation of anything, we have to duplicate and re-interpret everything in `global` an

[2017-03-11 00:56] TGISer commented on #1351
@matteblair
It doesn't work and have the error.

Then I try only build the "demo"

I replace
dependencies {
  compile project(path: ':tangram')
}

dependencies {
  compile 'com.mapzen.tangram:tangram:0.5.0'
}

but it have the same error .

[2017-03-11 01:00] matteblair commented on #1351
Can you try installing and running http://android.mapzen.com/tangram-latest.apk

If this crashes on your phone, please share the logcat output.

[2017-03-11 04:08] TGISer commented on #1351
@matteblair
What is the minimum version of Android?

[2017-03-11 04:19] matteblair commented on #1351
The minimum API level is 15 (Android 4.0.3)

[2017-03-11 04:30] TGISer commented on #1351
I try installing and running http://android.mapzen.com/tangram-latest.apk on my phone(Android 4.0.4)
it crashe .

But it can run on other devices.

Can you give me thr IOS version of the URL like http://android.mapzen.com/tangram-latest.apk.

Thank you !

[2017-03-11 15:08] TGISer commented on #960
@hjanetzek
I use https://gist.github.com/hjanetzek/8f2d8c4c7e485fdc0479e5ace6eb5d14
but it can not show the map.
Can you help me ,thank you!

[2017-03-11 17:20] nebular opened #1363 "Feature Request / Advice: Dynamic Markers and Marker Rotation"
For a proof of concept I am trying to add "dynamic markers" to the map. Those markers are typically cars that move around, or the "location marker". I need those markers to **move** and **rotate** arbitrarily, with the rotation and position **independent** of the map rotation and position.

I have tried the higher level Mapzen interface with Data Layers, however I find that erasing the data layer

[2017-03-11 19:47] #1355 closed

[2017-03-12 18:24] westnordost opened #1364 "Android: Support VectorDrawables for markers"
Currently, a Marker seems to accept any Drawable as its picture on the interface, but in reality, it always assumes this drawable to be a BitmapDrawable:
[code]

It would be nice if Tangram-ES for Android would support vector drawables for markers out of the box for Api 21+.
For Apis below 21, Android Studio creates bitmap icons for the different dimensions by default during the build process, so

[2017-03-12 23:12] westnordost opened #1365 "Android: *PickListeners not called on main thread"
The methods called in the LabelPickListener, MarkerPickListener and FeaturePickListener are not called on the main (UI) thread, but on some GLThread, which is not documented and in my opinion also not desirable behavor since usually a "pick" of a feature, label or marker should do something visual on the screen, just as the callback made on a tap of a button is made on the UI thread.

Notably, the

[2017-03-12 23:30] westnordost commented on #1364
To use vector drawables anyway, I use this function now:

[code]

[2017-03-13 14:38] ac87 commented on #1363
Have you seen that markers can be styled with an angle property?

`marker.setStyling("{ "style: 'points', color: 'white', size: [52px, 52px], collide: false, flat: true, angle: 75 }");`

Then you don't have to manage the bitmap at all. See the example I created here:
https://github.com/ac87/tangram_android/blob/master/app/src/main/java/com/test/tangramandroid/MyLocationMarkerManager.java

[2017-03-13 15:40] matteblair commented on #960
@TGISer Can you please create a new issue describing what you are trying to do? Thanks

[2017-03-13 15:49] matteblair commented on #1351
Interesting! Can you post the logcat output of the crash from your device running 4.0.4?

iOS apps aren't as simple to distribute as Android apps, we have to register a device ID before anything can be installed.

[2017-03-13 16:53] karimnaaji commented on #1365
Hey @westnordost ,

Thanks, this is a fair suggestion. You're right that there should be consistency with the callee thread and callback thread. For now, the workaround for you would be to call `runOnUIThread` from the listener callback, but this is not convenient for end-user.

I'll look into this shortly and make sure the UI thread is the one being called from the listener callbacks.

[2017-03-13 17:12] tallytalwar commented on #1313
@sheikh-iffi

Can you try adding `priority: 0` to the arrows draw rule. So:

[code]

[2017-03-13 17:35] matteblair commented on #1365
I've been aware of this situation for a while and have avoided changing the behavior because not all callbacks originate from the UI thread or require synchronization with the UI thread. In those cases, we're imposing a small, but unnecessary delay and synchronization cost. The most flexible option, as I see it, is to allow the user to perform any necessary synchronization.

There are some benefit

[2017-03-13 17:52] hjanetzek commented on #1313
It would be nice to have a point-style placement mode that places arrow icons between line labels for better consistency. Currently there is no way to coordinate placement between line text and icons.

[2017-03-13 18:31] westnordost commented on #1364
Hmm, actually, nevermind. I reckon that Tangram-ES always needs a Bitmap(Drawable)  to copy over to the native part, so supporting Vector- and other Drawables should perhaps be up to the user instead of creating another layer of indirection.

It is a bit like

[code]
If Tangram-ES needs a Bitmap(Drawable), it should be simply be clear about it and that's it, in my opinion.

[2017-03-13 18:31] #1364 closed

[2017-03-13 19:01] nvkelso commented on #1313
+100

On Mon, Mar 13, 2017 at 10:52 AM, Hannes Janetzek <notifications@github.com>
wrote:

[2017-03-13 19:09] matteblair commented on #1364
Yep, you got it. We don't have an SVG renderer in the native library, so the only way to render an SVG in a Marker would be to rasterize it to a bitmap like in your example.

As you said though, we should be clear about the precise kind of Drawable we expect in our API!

[2017-03-13 19:24] tallytalwar commented on #1361
The bug causing the crash is fixed and merged. But we should still look into cleaning walkabout style.

[2017-03-13 19:24] #1361 closed

[2017-03-13 19:33] nvkelso commented on #1361
Thank you!

On Mon, Mar 13, 2017 at 12:24 PM, Varun <notifications@github.com> wrote:

[2017-03-13 22:58] nebular commented on #1363
Oh my god!!!!! Thank you so much. Way simpler than my approach :)

[2017-03-14 07:25] sheikh-iffi commented on #1313
@tallytalwar that doesn't work.

@hjanetzek you are right. I have observed the same thing.
If we enable labels in CLion, you would see that only one arrow is drawn
![screenshot from 2017-03-14 12-17-50](https://cloud.githubusercontent.com/assets/12157369/23889768/7c396660-08b0-11e7-8237-761c0f181a01.png)

But if you enable all labels in CLion, you would see some pink square boxes which are in my o

[2017-03-14 20:50] sarahlensing opened #1370 "TGMarker error handling"
We will need a way to handle errors when adding markers to the map. Maybe tangram can throw an exception when `TGMarker#map` is set for an invalid marker?

cc/ @karimnaaji @msmollin

[2017-03-14 23:01] westnordost opened #1371 "Feature request: Callback for when the map view changes"
A callback for when the area that is displayed on the map changes would be very nice, so when the map is tilted, rotated, zoomed or another position is set.

**Possible use cases:**

- updating the size of certain markers (to reflect a value in on-ground meters). The use case might not make sense anymore if #1121 is implemented
- putting new data from a custom data source for a new area that comes

[2017-03-14 23:03] westnordost commented on #1121
Jup, I did that now, looks pretty nice and feels smooth. I call updateAccuracy whenever the zoom changes.

[code]

[2017-03-14 23:26] westnordost opened #1372 "Mobile devices: Always get bitmaps from dp dependent resources"
(Feature request/discussion:)

Would it not make sense to make it the default on Android to get the images referenced in the scene file from the `Resources` and on iOS from the assets in the main bundle respectively, just as it is done with markers?

[2017-03-14 23:45] nvkelso commented on #1371
Nice example!

[2017-03-14 23:57] matteblair commented on #1372
Maybe!

A couple things make this difficult:

 - It's unclear how one would reference these from the scene file, since they don't have 'file paths' in a traditional sense. We could come up with something, but it's extra complication that we've avoided so far.
 - Native code doesn't have direct access to these resources. So even once we know the resource that we want to use, we would have to call i

[2017-03-15 00:00] nvkelso commented on #1372
Related discussion in Tangram JS repo:

- https://github.com/tangrams/tangram/issues/438

[2017-03-15 01:21] westnordost commented on #1372
Ah I see. I thought this was a low-hanging fruit after the marker implementation, so that's wrong.

The effort then seems to very much outweigh the gain to make the assets really conform to the "Android way" of asset managing, the @2x is fine too. I'll close this feature request, then.

[2017-03-15 01:21] #1372 closed

[2017-03-15 02:54] lygstate opened #1374 "Reverse the buliding procedure, circleci building linux, travis building osx"

[2017-03-15 16:06] matteblair commented on #1374
Is there a reason you think the CI build targets should change? We found that running OS X builds on Travis led to unacceptable delays waiting for available machines.

[2017-03-15 16:13] lygstate commented on #1374
When I creating a pull request, and I have a circleci account, it's request me pay for the OsX instance.

[2017-03-15 16:20] sarahlensing opened #1377 "Improve Marker Selection"
It is currently very hard to select markers. Pressing on top of them is not triggering the selection delegate to be called with a `TGMarkerPickResult`. Increasing the pick radius does not seem to improve marker selection when tapping directing on the marker (it does increase the area around the marker that is selectable though).

To reproduce:
1. Clone the iOS demo app repo:
[code]
2. Install app

[2017-03-15 16:33] matteblair commented on #1374
I just enabled our Circle CI project to build forked pull requests, so your should be working now. Thanks for the heads up!

[2017-03-15 16:33] #1374 closed

[2017-03-15 18:30] matteblair commented on #1377
We should check whether the size and position of the tangram framebuffer and the input event coordinates are all in the ranges we would expect.

This issue doesn't manifest in the Android or desktop demos, so I'm trying to think about this in terms of things that are different in the iOS SDK demo.

[2017-03-15 19:07] msmollin commented on #1377
Here's where we're doing the manipulation of the TGMapViewController for parent/child. You can also see how we're sizing the view with constraints - https://github.com/mapzen/ios/commit/e0cee3e75a2b9c7e66bcfa70413869c5a7b02a52

[2017-03-15 22:38] sarahlensing commented on #1377
It looks like the location we receive in `TGRecognizerDelegate` is not based on an upper left origin. When I remove the sample app's tab bar translucency making the `TGMapViewController` view extend to the bottom of the screen, and I tap in roughly the same location on the screen I get y-values which vary by about the height of the tab bar. Are the positions we receive in `TGRecognizerDelegate` ex

[2017-03-16 00:07] westnordost opened #1379 "Android: Crash on Screen Rotate since 0.4.6"
My app [StreetComplete ](https://github.com/westnordost/StreetComplete) crashes on screen rotate for any tangram-ES version starting at **0.4.6+** somewhere in native code.
I bisected which commit introduced the crashbug and it was the commit where I upgraded from 0.4.5 to 0.4.8 and nothing else. I then checked for versions 0.4.6 to 0.4.7 and it turned out that 0.4.6 is the first version that cras

[2017-03-16 00:16] westnordost commented on #1379
Oh wait, I do get a backtrace of the crash in Tangram-ES. This is for 0.4.8:
[errlog.txt](https://github.com/tangrams/tangram-es/files/846314/errlog.txt)

[2017-03-16 01:04] matteblair commented on #1379
Does this occur with the latest android release (0.5.0)?

[2017-03-16 07:58] westnordost commented on #1379
Yes

Am 16. März 2017 02:04:43 MEZ schrieb Matt Blair <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2017-03-16 09:19] westnordost commented on #1379
Actually, to be precise, the crash occurs on 0.5.0 on screen rotate as well, but it is not necessarily the same error of course. I will check this evening CET.

Am 16. März 2017 02:04:43 MEZ schrieb Matt Blair <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2017-03-16 13:08] karimnaaji commented on #1377
The positions are expected to be whatever is the UIKit standard, but that's confirming my first thought of the UI interfering with the position given by the view.

Does removing parenting affects this behavior? I'm thinking particularly of `translatesAutoResizingMaskIntoConstraints`, what is the meaning of this boolean?

[2017-03-16 15:34] karimnaaji commented on #1219
First we should consider how error statuses should be returned on the iOS interface.
@msmollin can you give your thoughts on this issue https://github.com/tangrams/tangram-es/issues/1370.

[2017-03-16 15:49] karimnaaji commented on #1346
For this we might provide an option to set the root to which resources should be resolved against. If empty we would fallback to the main bundle (which would be the `mainBundle` we already use), otherwise it would use it as the root. @sarahlensing how do you feel about this?

From the iOS SDK that would look like that:
[code]

[2017-03-16 16:15] msmollin commented on #1370
Throwing exceptions is deprecated in objective-c for a few years now. The generally accepted / recommended approach is passing in a `nil` reference to a NSError, and then checking to see afterwards if it's still `nil` or not. Swift 3 will correctly handle this and convert it into a `throws` function then. See references here:
https://developer.apple.com/library/content/documentation/Swift/Conceptu

[2017-03-16 16:44] sarahlensing commented on #1377
Removing parenting doesnt affect the behavior. `translatesAutoResizingMaskIntoConstraints` when true automatically translates the view's mask values into constraints. To set custom constraints on the view, this has to be false.

[2017-03-16 16:55] #1337 closed

[2017-03-16 19:17] matteblair commented on #1346
Bundles can be treated as file paths right? Would this issue be solved by using the absolute file path of a resource in a bundle? Resources that specified in the scene with relative paths will be correctly resolved against the scene's absolute path.

[2017-03-16 19:50] karimnaaji commented on #1346
Yes, in the proposed example `setResourceRoot` would be setting an absolute path to the resource in the bundle to use.

[2017-03-16 21:13] sarahlensing commented on #1346
@karimnaaji I think that will work well. One thing we might want to consider is coupling its exposure with loading a scene file since the only time we care about resource bundles is when we are loading scene files.

So something like:
[code]

[2017-03-17 01:28] #1239 closed

[2017-03-17 14:19] #1377 closed

[2017-03-17 14:34] fokin33 opened #1384 "Library 'libc++_shared.so' not found"
On Garmin Monterra :
Message: Cannot load library: link_image[1936]:   203 could not load needed library 'libc++_shared.so' for 'libtangram.so' (load_library[1091]: Library 'libc++_shared.so' not found)
Stacktrace:
	java.lang.Runtime.loadLibrary(Runtime.java:370)
	java.lang.System.loadLibrary(System.java:538)
	com.mapzen.tangram.MapController.<clinit>(MapController.java:962)
	com.mapzen.tangram.Ma

[2017-03-17 16:16] matteblair opened #1386 "Tile sources should allow naming a set of url subdomains"
See: https://github.com/tangrams/tangram/issues/445

Tiled data sources should allow specifying a set of _subdomains_ to use for requests by using `{s}` as a placeholder in the URL template and a new `url_subdomains` parameter:
[code]
Behavior:
 - If `url_subdomains` contains a sequence of _N_ > 0 scalar values, then:
    - Request number _i_ made by the associated data source will replace `{s}` i

[2017-03-17 16:26] matteblair commented on #1384
The _Garmin Monterra_, now that's a device we've definitely never tested before. Can you tell me what version of Android this device has?

[2017-03-17 19:46] matteblair opened #1388 "Migrate 'visible' layer parameter to 'enabled'"
See: https://github.com/tangrams/tangram/pull/523

Tangram-es already has the newly specified behavior implemented. We need only to check the new parameter name, `enabled`, and fall back to checking `visible` if `enabled` is absent (for backwards compatibility).

[2017-03-17 20:22] matteblair commented on #1363
Any further questions about this issue? If not I'll close it to tidy up.

[2017-03-17 20:30] fokin33 commented on #1384
4.0.3

[2017-03-17 22:46] matteblair commented on #1384
Looks like we were missing a call to `System.loadLibrary` that's needed for older versions of Android. Should be resolved by #1389

[2017-03-17 22:54] matteblair commented on #1351
This should be resolved by https://github.com/tangrams/tangram-es/pull/1389

[2017-03-18 16:34] nebular commented on #1363
Solved my issue ! thanks a lot!

[2017-03-18 17:09] tallytalwar commented on #1363
Thanks

[2017-03-18 17:09] #1363 closed

[2017-03-20 08:37] JunsuLime opened #1390 "Marker.setVisible(boolean) function does not work properly."
Marker.setVisible(boolean) function doesn't work properly.

I thought the marker would not always be visible or invisible when this function was called. But when i manipulate the map, it doesn't work properly.

When the Visibility false setting is initially set, it works normally. However, if I move the map to the point where there is no marker and then return to first position where the setVisibl

[2017-03-20 09:08] ivangorelow commented on #1309
in new version I have the same problem

`sources:
    mapzen:
        type: TopoJSON
        #url: https://172.20.255.161:8091/all/{z}/{x}/{y}.topojson
        url: file:///storage/emulated/0/moscow_russia.mbtiles
        max_zoom: 16`

[2017-03-20 11:59] ivangorelow commented on #1390
I have the same problem

[2017-03-20 14:36] tallytalwar commented on #1309
Hey @ivangorelow

The message says It did open the sqlite database this time, unlike previously:

Are you seeing other symptoms or error messages which show the map is not working? And can you also give the complete log output for our reference.

Thanks

Thanks

[2017-03-20 14:56] ivangorelow commented on #1309
`03-20 17:54:45.034 16531-17607/com.impulsm.mobileclientcodd D/Tangram: ERROR topoJsonSource.cpp:25: Json parsing failed on tile [2476/1281/12]: Invalid value. (0)
03-20 17:54:45.191 16531-17606/com.impulsm.mobileclientcodd D/Tangram: ERROR topoJsonSource.cpp:25: Json parsing failed on tile [2475/1281/12]: Invalid value. (0)
03-20 17:54:45.213 16531-17606/com.impulsm.mobileclientcodd D/Tangram: ER

[2017-03-20 15:19] tallytalwar commented on #1309
From the logs it looks like now it can successfully read the mbtiles to a sqlite databse, but unable to parse the tiles inside the database. Can you make sure the tile data in mbtiles is conforming to `topojson` standard, since that is what is being specified in the scene file. And if it is not supposed to be `topojson` then change to an appropriate type via the `source`:`type` in the scene file.

[2017-03-20 15:59] ivangorelow commented on #1309
@tallytalwar  https://openmaptiles.os.zhdk.cloud.switch.ch/v3.3/extracts/moscow_russia.mbtiles

this is my scene file

    mapzen:
        type: TopoJSON
        #url: https://172.20.255.161:8091/all/{z}/{x}/{y}.topojson
        url: file:///storage/emulated/0/moscow_russia.mbtiles
        max_zoom: 16

[2017-03-20 16:08] tallytalwar commented on #1390
Hi

I am reproduce this on my end in the default osx app. Will update with a fix .

[2017-03-20 16:11] karimnaaji commented on #1390
@tallytalwar the fix for that is to separate the visible property used for label collision purposes and the one used for marker visibility. Since they are both the same right now, it seems that when the label gets out of screen it goes to from `out_of_screen` -> `visible` state without assuming the visibility could have been forced for a marker.

[2017-03-20 16:12] msmollin opened #1391 "TGMarker.mm setMap attempts to return a boolean false but is marked as VOID"
https://github.com/tangrams/tangram-es/blob/master/platforms/ios/src/TangramMap/TGMarker.mm#L193

Seems to be a refactor artifact.

The question is - do we want to re-expose the boolean return? Because `setMap:` is getting synthesized into the `.map` property here https://github.com/tangrams/tangram-es/blob/master/platforms/ios/src/TangramMap/TGMarker.h#L137

Overriding property setters has a requ

[2017-03-20 16:27] tallytalwar commented on #1309
Ahh so it looks like the internal format of the tiles within this mbtiles file you send is MVT.

I can get a map to render by changing `type` to `MVT` instead of `TopoJSON`. Give this a shot and let me know if this works.

Thanks

[2017-03-20 16:33] ivangorelow commented on #1309
@tallytalwar I change it, and now i don't any mistakes, but my map doesn't renders whith cinnabar style.

Do you know any resources where I can take mbtiles?

[2017-03-20 16:48] tallytalwar commented on #1309
@ivangorelow Yup, the data properties in mbtiles files you get from  https://openmaptiles.org are different than what we provide with our tiles. So the same scene files wont work.

We have some work in our pipeline to provide offline mbtiles or zip tile packs, but nothing available right now. If you have to use mbtiles from `openmaptiles` then you have to re-write the scene file using the properti

[2017-03-20 16:52] ivangorelow commented on #1309
and could you give your tile sets?

[2017-03-20 17:27] tallytalwar commented on #1309
We do not have a service where you can get our tile sets, as I said its work in progress.

[2017-03-20 20:24] #1384 closed

[2017-03-21 17:29] msmollin opened #1393 "TGMapViewController shouldn't destroy its GLKView in low memory scenarios"
https://github.com/tangrams/tangram-es/blob/master/platforms/ios/src/TangramMap/TGMapViewController.mm#L763

This view is handed over from the system, so destroying it creates a strange problem of how to re-create it effectively within the view hierarchy. It also causes issues with any kind of constraints that may have been attached as now suddenly they are orphaned within the system.

[2017-03-21 19:42] #857 closed

[2017-03-22 23:28] sarahlensing opened #1394 "Marker icon doesnt show if set before map"
See the test code below:

[code]

[2017-03-24 10:06] fokin33 opened #1395 "Dynamic polyline marker ?"
Hello!
How can I draw a dynamically changing line - for example, the path passed by the object (add points to the line with OnLocationChanged)? Or until there is no such possibility? Thank you!

[2017-03-24 11:24] hjanetzek opened #1396 "System locale independent float parsing"
The common string parsing and printing functions handle float values differently depending on LC_NUMERIC. This breaks our scene parsing and shader generation.

Found the problem testing Tangram on Tizen when system language is set to e.g. German.

google: 'printf locale independent' for 1000+ solutions and workarounds to this issue.
http://stackoverflow.com/questions/272479/how-to-get-equivalent-o

[2017-03-24 15:37] matteblair commented on #1395
Hello @fokin33!

A polyline marker can be created and updated with `Map::markerSetPolyline` in the C++ interface or `Marker$setPolyline` in the Android interface. To draw an updating polyline, you would want to keep your own list of points, then each time you get a new point, add it to the list and set the Marker's polyline to the updated list.

Hope that helps!

[2017-03-26 11:25] seubseub opened #1398 "iOS - removeMarker at tangram-es 0.5.1 version"
Hi I'm using tangram and this is awesome.

but one problem is happened.

I used tangram-es 0.5.0 version before. but when I update tangram-es 0.5.1 by cocoa pods,

I cannot find removemarker method.

in 0.5.0 version, there were 'markerremove(TGMapMarkerId)'

and This Version, Android have 'markerremove(Marker)'.

I want to know about this 'marker remove' method in 0.5.1 version in iOS

Thank you

[2017-03-27 14:44] ivangorelow opened #1399 "how to generate mbtiles from topojson?"
I have folders whith osm `topoJson` tiles. How can I generate `mbtiles`?

[2017-03-27 18:02] karimnaaji commented on #1398
Hi @seubseub thanks for the nice words! You can remove a marker from the map by simply settings its map to `nil`:

[code]

[2017-03-27 18:02] #1398 closed

[2017-03-27 20:35] westnordost opened #1403 "German Umlauts are broken"
**Using tangram-es 0.5.0 on Android with the cinnabar style 4.0.0:**

Streets with an ß in their name don't render correctly in my app. See here:
https://github.com/westnordost/StreetComplete/issues/34

**For tangram-es 0.5.1 on Android with the cinnabar style 4.0.0:**
At least on my smartphone, an Android 5.1.1, the names of streets with a "ß" in their names don't appear at all anymore.

[2017-03-27 20:37] westnordost commented on #1403
Some more information in this ticket: https://github.com/westnordost/StreetComplete/issues/36

[2017-03-27 21:10] hjanetzek commented on #1403
Hi @westnordost - Thanks for the report. I guess we don't find the right fallback fonts.
We query /system/etc/fonts.xml and /etc/system_fonts.xml to get a list of fallback fonts on Android in `FontFileParser.java`. I've seen once that some listed fonts did not exist (on cynogenmod though) I'll add some logging so we know which files are tried and whether they exist.

As a workaround you can includ

[2017-03-27 22:35] westnordost commented on #1403
Ah, isn't this already logged? My log looks like this:
[code]

[2017-03-28 00:27] hjanetzek commented on #1403
hmm interesting. Does `adb shell ls /system/fonts` show any of these fonts?

Could you test if this works https://github.com/tangrams/tangram-es/pull/1404 ?

[2017-03-28 01:10] seubseub commented on #1398
@karimnaaji  Thank you for replying! I'll try it :)

Thank you!

[2017-03-28 07:03] westnordost commented on #1403
This is the shell output:

127|u0_a258@D5503:/ $ ls /system/fonts
AndroidClock.ttf
AndroidClock_Highlight.ttf
AndroidClock_Solid.ttf
CarroisGothicSC-Regular.ttf
Clockopia.ttf
ComingSoon.ttf
CutiveMono.ttf
DancingScript-Bold.ttf
DancingScript-Regular.ttf
DroidSans-Bold.ttf
DroidSans.ttf
DroidSansFallback.ttf
DroidSansMono.ttf
MTLmr3m.ttf
NanumGothic.ttf
NotoColorEmoji.ttf
NotoNaskh-Bold.ttf
NotoNas

[2017-03-28 08:17] seubseub opened #1405 "iOS(swift) - TGMapdata clear"
Hi :) I'm using tangram iOS

And I'm trying to remove line, but when TGMapdata.clear, then my app die.

Android is almost same as my code, and I already test at your demo iOS(Objective C) app.

but Android work well, also demo app can remove TGMapdata.

So I want to know about my mistake or something.

here is my code about this problem.

first, I make variable.
`var lineMakers : TGMapData!`

and

[2017-03-28 13:10] hjanetzek commented on #1403
Oh, there was a bug that the system default font may not be added to the set of fallback fonts.

It should be fixed by https://github.com/tangrams/tangram-es/pull/1406

[2017-03-28 15:34] #1061 closed

[2017-03-28 15:51] karimnaaji commented on #1405
Hey @seubseub,

This code looks legal to me.

The bug actually lives our `TGMapData.h`, we have different naming for the property `map` in the public interface and private interface (it is called `map` in the public header and `mapView` in the private one, which is the one being set).

We will make sure to fix this issue for the next release, for a safe code for now you should be able to use this

[2017-03-28 18:40] #1405 closed

[2017-03-28 22:02] sarahlensing opened #1409 "Add userData to TGMarker"
https://developers.google.com/maps/documentation/ios-sdk/reference/interface_g_m_s_overlay.html#a900ff2be989386d501ed6c64ea1d7ab3

[2017-03-29 01:37] seubseub commented on #1405
@karimnaaji Thank you for kind replying!

I'll wait for tangram next release :)

[2017-03-29 15:05] patriciogonzalezvivo opened #1411 "Not compiling in the RPI"
[code]

[2017-03-29 22:37] westnordost commented on #1403
I got another feedback for my app who got this problem with the map rendering result. Is this the same problem?:

![screenshot_2017-03-29-15-05-15-203_de westnordost streetcomplete](https://cloud.githubusercontent.com/assets/4661658/24479753/062c4798-14e1-11e7-83bf-73cb52188c43.png)

He said:

[2017-03-29 23:07] #1370 closed

[2017-03-29 23:07] #1391 closed

[2017-03-29 23:07] #1394 closed

[2017-03-30 13:10] kdebowski opened #1413 "Polish names are broken on lower zooms"
When on lower zooms (like from 1 to 6) polish city names (and I suppose not only polish) are broken. There are no diacritic characters . I've uploaded example screenshot, when there is Kraknw instead of Kraków, Lddz instead of Łódź. Even Ukraininan names like Kiev are written in ukraininan only on higher zoomes (like from 6 to upper ones).

![screenshot from 2017-03-30 15-00-34](https://cloud.gith

[2017-03-30 13:22] hjanetzek commented on #1413
Thanks for the report! This is an issue with the tile data, you can track it here https://github.com/tilezen/vector-datasource/issues/1140

[2017-03-30 13:22] #1413 closed

[2017-03-30 14:45] #1339 closed

[2017-03-30 17:59] #1393 closed

[2017-03-30 18:19] #1409 closed

[2017-03-30 19:23] westnordost opened #1415 "Node images become invisible on certain zoom levels"
Here is one difficult to reproduce bug, I think. [I got this bug report in StreetComplete](https://github.com/westnordost/StreetComplete/issues/50).

**In a nutshell:** Images for nodes (with collision on) turn invisible on certain zoom levels even though there doesn't seem to be anything in the way that would warrant a collision.

https://files.natenom.com/public/cs/a_1.png
https://files.natenom.

[2017-03-30 21:40] #1390 closed

[2017-03-30 22:22] westnordost commented on #1415
The user had the courtesy to make a screencast to better illustrate the problem:

https://files.natenom.com/public/cs/cs.mp4

[2017-03-31 18:07] #997 closed

[2017-03-31 22:36] #1388 closed

[2017-03-31 23:33] westnordost opened #1422 "sceneLoader.cpp: Error when parsing style"
I get the following debug logs when I set the styling of a marker like this:
[code]

[code]

However, when I add a space between `flat:` and `true`, the logs are gone. Isn't `flat:true` valid Json?

[2017-03-31 23:51] tallytalwar commented on #1422
yaml is very particular on consistent spacing between `key: value`. Can you try adding a space, like `flat: true` instead of `flat:true`.

[2017-04-01 08:32] westnordost commented on #1422
Yes, I did already , see my last sentence. This solves the problem.

Am 1. April 2017 01:51:06 MESZ schrieb Varun <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2017-04-01 11:58] westnordost commented on #1422
I see, flat:true is not valid Yaml. Then this bug is invalid.

[2017-04-01 11:58] #1422 closed

[2017-04-01 12:05] westnordost opened #1423 "Markers: setStylingFromString overrides setVisible(false)"
For the following code, the locationMarker will be visible, even though I explicitly set it to false. I'd expect that setStylingFromString does not override the setting I did with setVisible.

[code]

As usual, if you think this is intended behavior, a documentation update would be nice.

[2017-04-01 16:44] msmollin opened #1424 "Add "Defines Module" to iOS framework builds"
This allows for dynamic framework import using `@import` semantics in objective-c and is recommended for mix-and-matching code with swift from Apple - https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html

[2017-04-01 21:52] westnordost opened #1426 "Failure to load, libc++_shared.so not found"
A crash was reported for my app. So far, it happened for the following devices:

- ALCATEL ONE TOUCH 6040A (DIABLOX), Android 4.2, native platform: armeabi-v7a
- IliumPAD, Android 4.2 (no further info available)

[code]

[2017-04-01 22:56] tallytalwar commented on #1426
This is already fixed in master. Refer https://github.com/tangrams/tangram-es/pull/1389 and the reported issue: https://github.com/tangrams/tangram-es/issues/1384.

The fix will be available in our next release 0.5.2 next week.

Thanks, closing this.

[2017-04-01 22:56] #1426 closed

[2017-04-01 23:43] tallytalwar opened #1427 "tron-style is crashy on master on android"
Both `tron-style-more-labels` and `tron-style-no-labels` is crashing on current tangram master (Current head: 9a5cfb4a892fe9aef05de6503b74ab4dcd96a577) for android but work on osx.

Tried importing the scene [remotely](https://raw.githubusercontent.com/tangrams/tron-style/gh-pages/tron-style-more-labels.yaml), and locally, while making sure I have the submodules loaded.

Crash is currently happeni

[2017-04-02 00:03] tallytalwar commented on #1427
Ok happened on osx also now (its random on osx). Same stack trace:

[code]

[2017-04-02 02:35] westnordost commented on #1426
Nice

[2017-04-03 14:22] #1424 closed

[2017-04-03 15:04] #1427 closed

[2017-04-03 15:17] matteblair commented on #1423
Good find - that is not the intended behavior! We'll look into fixing that and post updates here.

[2017-04-03 15:18] tallytalwar commented on #1423
https://github.com/tangrams/tangram-es/pull/1416 might have addressed this issue also.

[2017-04-03 18:21] #1346 closed

[2017-04-03 19:10] #1423 closed

[2017-04-03 21:42] matteblair opened #1430 "Default font size should be 12 pixels"
See conversation here: https://github.com/tangrams/bubble-wrap/issues/242

[2017-04-04 06:13] JunsuLime opened #1431 "In Android, How to block longitude range?"
I want to block longitude range by force. But I don't know how to do that.

Is there any method check where i am callback, when map is moved? OR any method block longitude range.

always thank you for your help and kindness

[2017-04-04 06:52] JunsuLime opened #1432 "GLThread error is occured with SEGSEGV error"
04-04 15:44:32.516 2314-10253/com.pinonmap.map.dev E/Alfons: Font is broken or irrelevant...
04-04 15:44:32.527 2314-10253/com.pinonmap.map.dev E/Alfons: Missing font: error: 1 /system/fonts/DroidSansFallback.ttf

Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 10247 (GLThread 14229)

[ 04-04 15:44:50.603   364:  364 W/         ]
debuggerd: handling request: pid=2314 uid=10267 gid=10267 t

[2017-04-04 22:32] matteblair opened #1435 "Enable 512px tile sources"
**Background**

We currently assume that a tile from tiled data sources is intended to be viewed at a scale of 256 logical pixels per side. As the resolution of mobile devices increases, we incur a corresponding increase in the number of URL requests needed to cover a screen-sized area. A data source can reduce this number of requests by offering tiles meant for viewing at 512 logical pixels per s

[2017-04-04 22:36] nvkelso commented on #1435
@bcamper Is there an issue tracking this on the JS side? I remember you have a branch for this, but don't see it pushed to the server?

[2017-04-04 22:45] nvkelso commented on #1435
The new (undocumented) endpoint for 512px tiles is:

- `tile.mapzen.com/{user}/{tileset}/v{version}/{tilesize}/{layer}/{z}/{x}/{y}.{format}`

For example:

- `tile.mapzen.com/mapzen/vector/v1/512/all/{z}/{x}/{y}.mvt`

[2017-04-04 22:47] bcamper commented on #1435
The JS branch is here: https://github.com/tangrams/tangram/compare/zoom-bias

I'm not sure there is an issue so I can create one parallel to this.

Since we will likely limit this to power-of-2 tile sizes for simplicity, I think either an exponent (as in the example) would work, or if we prefer to have the pixel scale specified explicitly, we could calculate the exponent scale, and only allow powe

[2017-04-04 22:50] tallytalwar commented on #1435
I vote for the exponent as tile sale as mentioned in the issue description.

[2017-04-04 22:55] nvkelso commented on #1435
I suspect most marketing around tile size is in pixels (like 256, 512,
1024), so prefer to express it in pixel size in the scene file config, with
Tangram figuring out the scale internally as a black box.

On Tue, Apr 4, 2017 at 3:50 PM, Varun <notifications@github.com> wrote:

[2017-04-04 23:07] tallytalwar commented on #1435
Some quick initial work here for ES: https://github.com/tangrams/tangram-es/tree/512-tiles

[2017-04-04 23:44] matteblair commented on #1435
🏃 💨 ⏱  Speedy work!

I also prefer the more straightforward "tile size" syntax, it seems very hard to misinterpret. It would also make sense to do some input validation engine-side, since NPOT tile sizes might behave badly.

[2017-04-05 16:32] bcamper commented on #1435
So:

- `tile_size` must be greater than or equal to 256
- `tile_size`must be a power of 2
- Internally, the number of zoom levels to adjust by is:
  - `log2(tile_size) - log2(256)` (aka `log2(tile_size) - 8` :)

[2017-04-06 10:49] sheikh-iffi commented on #1431
Hi @JunsuLime

I think you can restrict lat long ranges by using **setLimitsY**  & **setLimitsX** methods given in [viewConstraint.cpp](https://github.com/tangrams/tangram-es/blob/master/core/src/view/viewConstraint.cpp)

Note: I think they take values in meters.

[2017-04-06 13:44] JunsuLime commented on #1431
How can I use that method *setLimitsY* & *setLimitsX* in android??

I tried to find it. But cannot do that T_T

[2017-04-07 06:34] sheikh-iffi commented on #1431
setLimitsY method is being used in [view.cpp](https://github.com/tangrams/tangram-es/blob/master/core/src/view/view.cpp) to limit lat.
You can see that for reference.

[2017-04-07 07:52] JunsuLime commented on #1431
Oh Thank you so much!!

Have a good day!! :)

[2017-04-07 08:01] tallytalwar commented on #1431
Hey @JunsuLime

We are not exposing `ViewConstraints` in any of the platform code. However, we can look to expose these in future tangram releases. As a stop gap workaround you can do the math in your android app and make sure your constraints are respected when setting map position, till or rotation.

[2017-04-07 08:06] tallytalwar commented on #1403
Hi @westnordost

That could be because of the same issue.  However can you give 0.6.0 release a shot? @hjanetzek 's fix went in the release.

[2017-04-07 08:13] tallytalwar commented on #1395
Hey @fokin33, hope the above description helped you. I am closing this issue, feel free to reopen if you still have questions for the same.

Thanks

[2017-04-07 08:13] #1395 closed

[2017-04-07 08:17] tallytalwar commented on #1351
Marking this resolved, as #1389 went in 0.6.0  release. Kindly reopen if you still have questions on the same. Thanks

[2017-04-07 08:17] #1351 closed

[2017-04-07 09:22] JunsuLime commented on #1431
@tallytalwar
Thank you !!! :)

[2017-04-07 11:22] ivangorelow commented on #1309
@tallytalwar

why this map doesn't work?( https://yadi.sk/d/XFZ-q4Kr3GkHBw )

[2017-04-07 14:43] westnordost commented on #1403
Yes, it's fixed with 0.6.0. Can be closed, thank you!

Am 7. April 2017 10:06:19 MESZ schrieb Varun <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2017-04-07 14:53] #1403 closed

[2017-04-07 14:54] tallytalwar commented on #1403
Awesome good to know.

[2017-04-07 17:05] fokin33 commented on #1395
I try to place simple line for test, but it is not visible on map.
            ArrayList<LngLat> lngLats = new ArrayList<>();
            lngLats.add(new LngLat(37.0,55.0));
            lngLats.add(new LngLat(35.0,58.0));
            Marker m = mapController.addMarker();
            Map<String, String> props = new HashMap<>();
            props.put("type", "line");
            props.put("color", "

[2017-04-07 20:12] sarahlensing opened #1440 "Don't create errors when no map set"
I'm sorry that this is contrary to what i originally advocated for here: https://github.com/tangrams/tangram-es/pull/1401#discussion_r108501077

In practice it feels wrong to throw an error when the user sets the geometry or styling before the map. Can we update the implementation to just return NO if there is no map set? And then when the map is set, if the styling string or any other properties

[2017-04-07 21:48] msmollin commented on #1440
@sarahlensing brought me up to speed on this a little. I took a look at the code in #1441 and I had a bit of a thought there.

Let's take for example `- (BOOL)stylingPath:(NSString *)path error:(NSError **)error`- but this applies to all these types of setters in `TGMarker`.

I feel like the BOOL return and the NSError are overlapping in their use case. The code is returning "false" in the event t

[2017-04-07 22:18] karimnaaji commented on #1440
There might be a little bit of confusion in here. You shouldn't see the boolean return as a indicator of an _error_ state, but whether the marker has been successfully constructed in order to be _visible_ on the map. A marker is also perfectly valid to live without a map on it.

[2017-04-07 22:24] msmollin opened #1442 "[Discussion] Rethink TGMarker <-> TangramMap interaction model."
While writing my response to #1440 I started thinking about the interaction model between TGMarker and the map that displays it. Rather than pollute that ticket further I wanted to open a larger discussion which I think will lead to rearchitecting that dependency model a bit.

Markers really have very little to do with a map, when you think about it. Markers are just a set of metadata, location, a

[2017-04-08 09:07] cphBV commented on #1411
Hello,

I don't know if this contribution will help tallytalwar but this is what I obtained when trying to compile for RPIB3:

make[3]: Entering directory '/home/pi/tangram-es/build/rpi'
[ 99%] Building CXX object CMakeFiles/tangram.dir/platforms/rpi/src/main.cpp.o
/home/pi/tangram-es/platforms/rpi/src/main.cpp: In function ‘int main(int, char**)’:
/home/pi/tangram-es/platforms/rpi/src/main.cpp:43

[2017-04-08 13:55] ac87 opened #1443 "Map center changed switching to raster scene"
I've been updating my [test app](https://github.com/ac87/tangram_android) to the latest version and noticed when the scene is toggled between Vector and Raster the center point for the raster scene is offset.

The scenes both point to the same `assets/common/globals.yaml` with the camera definition in so I expect the view to be the same.

Here is the difference pressing the button to toggle the sc

[2017-04-08 16:37] FarazKhalidZaki opened #1444 "polyline breaks at different zoom levels (ClientGeoJsonSource->addLine)"
I am facing problem with Polyline added using ClientGeoJsonSource->addLine from 0.5.1 release. Polyline is broken into different segments at different zoom levels i.e. some segments are visible at one zoom level and other segments are not drawn.
I am facing this problem on both android and ios.

[2017-04-10 08:54] seubseub opened #1445 "iOS(swift) - TGMapdata clear Again"
Hi

I saw your release 0.5.1 and 0.6.0.

And About #1405 , I tried again about TGMapdata.

It also cause our app dead.

So I thought that our style sheet may different, but when I try again with your ScenFile

"https://tangrams.github.io/walkabout-style/walkabout-style.yaml". but It also cause app dead too.

So, I think my code may wrong.. please one more time review about my code or Can you tell

[2017-04-10 14:16] karimnaaji commented on #1445
Hey @seubseub

Thanks for sharing the code, we'll debug this today and let you know what could possibly go wrong!

[2017-04-10 15:05] tallytalwar commented on #1440
In agreement with with @karimnaaji here. My understanding from the discussion earlier was the NSError will reflect on the failure state of marker (styling, geometry, map absent, etc, etc). But the boolean return is something which tells whether a marker will be visible on the map in the next update or not.

In the above example you have when a developer resets a marker by removing it first (resets

[2017-04-10 15:06] ivangorelow opened #1446 "local storage"
is it possible to create something like that?

    mapzen:
        type: MVT
        url: file:///storage/emulated/0/tiles/{z}/{x}/{y}.mvt
        max_zoom: 16

[2017-04-10 15:12] matteblair commented on #1446
This probably doesn't work in the current version of tangram-es. However we are _actively_ working to support more general URL requests for data sources (including `file://` URLs). I expect this to be released within the next month.

[2017-04-10 15:15] ivangorelow commented on #1446
Nowadays is it impossible to use your map offline?

[2017-04-10 15:38] matteblair commented on #1446
It's not impossible, but it's not as easy as we'd like it to be! A solution now is to create an MBTiles database with the set of tiles that you want to store, then set that as the URL of your data source. You can generate MBTiles files using [existing tools](https://github.com/mapbox/mbtiles-spec/wiki/Implementations) but in the future we hope to make it easier to get usable files without building

[2017-04-10 15:48] fokin33 opened #1447 "Polyline marker not visible"
I try to place simple line for test, but it is not visible on map.
ArrayList lngLats = new ArrayList<>();
lngLats.add(new LngLat(37.0,55.0));
lngLats.add(new LngLat(35.0,58.0));
Marker m = mapController.addMarker();
Map<String, String> props = new HashMap<>();
props.put("type", "line");
props.put("color", "black");
m.setPolyline(new Polyline(lngLats,props));
m.setDrawOrder(20000);
What is wrong in

[2017-04-10 16:00] sarahlensing commented on #1440
I think I found something I overlooked but originally had in mind (which will resolve the overlap and the issue @msmollin raised in number 1). We should be returning NO only when an error occurs. So, since setting the geometry or styling before setting the map is not considered an error, we should actually be returning YES here. We were originally considering this error handling flow:

[code]

Her

[2017-04-10 18:03] karimnaaji commented on #1445
Can you give more info on when `drawLine` is called, is it possible that this method is called before `mapData` is initialized?

[2017-04-10 21:30] westnordost opened #1449 "Textures flicker in the middle of the screen"
Happens on Android 4.4.4/CM11, tangram-ES 0.6.0

It is a bit difficult to describe, so, here is a picture. The user describes:

<img src="https://farm4.staticflickr.com/3931/33831648441_bc5681f825_o.png"/>

This is the YAML in which the styles are defined:
https://github.com/westnordost/StreetComplete/blob/master/app/src/main/assets/streetcomplete.yaml

Original issue here https://github.com/westn

[2017-04-10 22:17] sarahlensing opened #1450 "Custom placeholder when loading scene asynchronously"
We recently updated the iOS SDK sample app to load scene files asynchronously. When making that change we noticed that the map background is black before any of the tiles load. This doesn't occur when loading the scene file synchronously (the background is gray).

Could we update tangram to provide a gray background in all cases by default and also to allow users to designate a custom background c

[2017-04-10 22:23] nvkelso commented on #1450
I vote for white by default.

[2017-04-11 02:29] seubseub commented on #1445
@karimnaaji

Thanks for your reply. I just call `drawLine` when marker is picked. I call `onScrapPinClick `

 method. And This is my method about marker clicked

[code]

then `onScrapPinClick` method, I call this `drawLine` method.  so never call `drawline` before I pick

marker. and I also debug about may draw line before mapData = self.addDatalayer~, but It was not

happen. One thing curious was

[2017-04-11 13:41] ivangorelow commented on #1446
and which util do you use for creating mbtiles?

[2017-04-11 14:08] matteblair commented on #1450
That is an odd difference, I agree that it would be preferable to make the behavior more consistent.

To clarify, we're talking about the application background while the _scene_ is loading, yes? There is already an option in the scene file to specify a background color where _tiles_ are loading, but of course we can't apply that option before the scene is parsed and loaded.

[2017-04-11 15:05] karimnaaji commented on #1450
@sarahlensing have you tried changing the background color in the interface builder?

![screen shot 2017-04-11 at 10 57 18 am](https://cloud.githubusercontent.com/assets/7061573/24915699/de43478a-1ea5-11e7-9087-8208bee8bea8.png)

In tangram, setting the clear color in the first GL call that happens in like so:
[code]
Doesn't seem to resolve the issue, even though it would still be good to add that

[2017-04-11 17:41] sarahlensing commented on #1450
"To clarify, we're talking about the application background while the scene is loading, yes?"
@matteblair we're talking about the `GLKView` background while the scene is loading

@karimnaaji I tried that but it didnt have any effect. I was able to change the color with this code:
[code]

Clients could achieve this desired outcome by subclassing `TGMapViewController` and adding this but it seems li

[2017-04-11 18:39] karimnaaji commented on #1445
I haven't been able to reproduce this issue with the code sample you provided and I don't see any obvious bug in the code path you described, I would suggest you to download the debug version that we provided in [the release of 0.6.0](https://github.com/tangrams/tangram-es/releases/download/0.6.0/TangramMap.framework-0.6.0-Debug.zip) and give us the exact backtrace of the crash you are dealing wit

[2017-04-11 19:18] matteblair opened #1452 "Remove API keys and document Mapzen key requirements"
The demo applications and scenes in this repository have historically used a single Mapzen API key designated for test use of vector tiles. Our intent with this key was that users could check out the code for the demo applications and run them without any modifications, then get their own key when/if they decided to continue developing an application.

There are several reasons that it's important

[2017-04-11 20:20] matteblair commented on #1450
Yeahhhh ok so I think I understand what's making this color. When we load a scene asynchronously, the render loop in tangram-es is running - but with an empty scene. The default background color for a scene is `0x000000` and so that's all we render.

We could try simply returning early in our `drawInRect` implementation if the map doesn't have a scene loaded. Ideally, that would allow any external

[2017-04-11 23:01] msmollin commented on #1442
Thanks to @karimnaaji for the initial prototype of this. I think we have a pretty clear idea of a path forward now on this after more internal discussion.

So the current front-runner is an interface modeled more after CRUD-style operations

Pseudocode:
[code]

This would change the interaction model away developers interacting directly with TGMarker, and instead treat TGMarker more like just a da

[2017-04-11 23:21] sarahlensing commented on #1442
Thats a good summary of where we're at. I'll just add some detail about the expansion @msmollin mentioned. My suggestion was to move error handling into the specific classes in which errors can arise from...so for example:

[code]

This approach would allow the `TGMarker` properties to remain simple getters/setters but it wouldn't necessarily condense all the error handling into one location. But,

[2017-04-12 02:11] seubseub commented on #1445
@karimnaaji
yes I think.. my code that I post is so partial. I'll try to make exact backtrace about release of 0.6.0 that

you gave to me.

And then I post about crash! :)

[2017-04-12 12:18] seubseub commented on #1445
@karimnaaji

Hi Again! First of all, I post my tangram test.

And I'm apologize for my mistake. I thought that every tangram's methods do in main thread,

but markerpickresult didn't do in main thread.

and I tested TGmapdata.clear() at some tangram's method such as, 'didRecognizeLongPressGesture',

'didRecognizeSingleTapGesture', 'didRecognizeRotationGesture', 'mapViewDidCompleteLoading' then

th

[2017-04-12 16:00] #1430 closed

[2017-04-12 16:13] nvkelso commented on #1430
🎉

[2017-04-12 17:22] karimnaaji commented on #1442
@sarahlensing I'm not sure to see what would be the value in comparison to what is proposed in #1448? Where usage is the following:
[code]

Since, the nice part of what is proposed by @msmollin is that the error handling is condensed to a single call, here we would have single object for geometry / styling that handles error handling by themselves instead of having a single call that figures out e

[2017-04-12 17:57] westnordost commented on #1449
The user reverted the tangram-ES version back to 0.5.1, he reports that he does not have the issue with the old tangram version.

[2017-04-12 18:07] hjanetzek commented on #1449
Thanks - that's an interesting issue. I can't reproduce it on my Android 5 - 7 devices.
The relevant change could be the switch to 'vertex array objects'. I could try to build a patched version of StreetComplete with this option disabled. I.e. `useVao = false` here https://github.com/tangrams/tangram-es/blob/master/core/src/gl/dynamicQuadMesh.h#L105

@karimnaaji do you have an idea?

[2017-04-12 18:35] matteblair commented on #1450
Another idea: if we add an interface to the tangram-es core that lets you specify a "default clear color" then our iOS platform wrapper might be able to query the background color set to the view in interface builder and pass that into the core.

[2017-04-12 18:36] karimnaaji commented on #1449
Yeah it's quite interesting, I will give it a try on my phone and see if I can reproduce this issue!

[2017-04-12 21:05] karimnaaji commented on #1445
Hey thanks, glad it worked out! Closing this issue then.

[2017-04-12 21:05] #1445 closed

[2017-04-12 23:51] sarahlensing commented on #1442
@karimnaaji The value is that the errors are more closely tied to the objects that can generate them. So without platform specific knowledge, the readability would feel more natural...ie. when I create a `StylingString` object from a raw string, the validity of the raw value would be checked. With the current proposal in #1448, the errors are generated at a later point in the flow when the styling

[2017-04-13 13:37] ivangorelow opened #1455 "Long working with mbtiles"
I noticed that when I changed zoom level from 12 to 16, tangram loaded 13 zoom then 14 then 15 and only after that it loaded 16.

I use android

[2017-04-13 14:45] karimnaaji commented on #1442
Thinking around this; we would need to add core API call in order to validate a styling string without a marker identifier being created

[code]
which will potentially load the required styling string as a YAML node for parsing errors, then check whether the style is available in the current scene, compile the possible javascript functions etc.. (it happens [here](https://github.com/tangrams/tangr

[2017-04-13 21:47] karimnaaji commented on #1442
Here is a recap of the options that we have:

[code]
Unless something is drastically proven wrong with the `getError` style we will move forward with this one, since it seems to be the best alternative that we have:
- keeps the properties on the Swift side, so less code changes on the SDK
- leaves the ability to get the error without losing the context if the user wants to
- setting the property w

[2017-04-14 09:42] JunsuLime commented on #1432
04-14 18:41:03.047 6600-6870/com.pinonmap.map.dev A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x656c797473208b in tid 6870 (GLThread 17002)

                                                          [ 04-14 18:41:03.048   363:  363 W/         ]
                                                          debuggerd: handling request: pid=6600 uid=10282 gid=10282 tid=6870
04-14 18:41:03.143 1

[2017-04-14 09:42] JunsuLime commented on #1432
This error happened when i close activity on return to MainActivity MapView

[2017-04-14 10:03] hjanetzek commented on #1432
Hi! Which tangram-es version are you using?

[2017-04-14 10:08] JunsuLime commented on #1432
My current tangram version is 0.5.1

and this problem occur 0.5.0 also.   Thank you!! 👍

[2017-04-16 17:55] Jiangyi opened #1456 "Map wraparound/"Infinite scrolling" for raster sources"
First of all, let me just say what an awesome project this is! Props to all you guys for the tremendous work you have put in. :-)

I'm looking at implementing a raster world map on Android reading from an mbtiles source, but I noticed that with raster sources, the map does not "wrap around" at the left and right edges, as it would if the source was in MVT format. Instead, the raster tiles would be

[2017-04-17 10:29] ivangorelow opened #1457 "problems with text in the latest release"
metro:
        data: { source: mapzen, layer: pois}
        filter: { $zoom: { min: 11} }
        ufterzoomfilter:
            filter:
                is_subway: 'true'
                kind: station
            draw:
                icons2:
                    priority: 2
                    size: 16px
                    interactive: true
                    visible: true
                    spri

[2017-04-17 14:29] matteblair commented on #1456
Hi @Jiangyi, thanks for the report! I can reproduce this problem in the latest release.

Wrapping around the 180th meridian is enabled by default, and if you try this with a vector tile source you'll see that it works as expected. However, it seems that there is a bug in the way this is applied to raster tiles now. It appears to me that a raster tile is only ever being shown at the first location

[2017-04-17 14:48] nvkelso commented on #1457
With recent Tangram versions it’s better to “nest” or “attach” the text
directly to the point renderer – for you this would mean something like:

icons2:
    …
    text:
        …

On Mon, Apr 17, 2017 at 3:29 AM, ivangorelow <notifications@github.com>
wrote:

[2017-04-17 15:01] Jiangyi commented on #1456
Oh cool, thanks for the quick response @matteblair! Looking forward to any future updates :)

[2017-04-17 17:24] matteblair commented on #1457
The first filter should read `is_subway: true` (without quotes). The value for the `is_subway` tag in the tile data is a Boolean value, not a string. Tangram-es used to incorrectly treat these as the same type of data.

[2017-04-17 17:24] #1457 closed

[2017-04-17 17:32] matteblair commented on #1442
Either of the "transaction" or "get error" approaches seem reasonable to me. If there's a consensus on the "get error" syntax then I agree with moving ahead on it.

[2017-04-17 17:33] tallytalwar commented on #1442
Yup me and @karimnaaji discussed the `getError` approach with @sarahlensing and @msmollin on thursday. Going with that only.

[2017-04-17 17:50] matteblair commented on #1456
This issue should be fixed by #1458 in the next release. Thanks @tallytalwar for the quick fix and @Jiangyi for finding this bug :+1:

[2017-04-17 17:50] #1456 closed

[2017-04-17 17:57] Jiangyi commented on #1456
Thank you guys so much! Much appreciated. :)

[2017-04-17 20:41] westnordost commented on #1415
Hmm, I am getting feedback from quite a few users that they have the same problem as the original bug reporter. Here is the link of the original ticket again: https://github.com/westnordost/StreetComplete/issues/50

Do you acknowledge that this is a bug in tangram-es?

[2017-04-17 20:52] matteblair commented on #1415
Hi @westnordost, I'll take a closer look at this. Which version(s) of tangram-es are you seeing this with, and on what devices?

[2017-04-17 21:09] hjanetzek commented on #1415
Have you tried to set the quest-icons priority to zero so that they don't get blocked by other labels?

[2017-04-17 22:50] westnordost commented on #1415
@matteblair Hmm, I think I get this independent of the device

@hjanetzek Oh, no, I haven't used the `priority` at all yet. I also just read this note in the docs

I will try this and report back.

[2017-04-18 01:22] bcamper commented on #1435
added parsing for `tile_size` in JS, according to rules above, here: https://github.com/tangrams/tangram/commit/c09a4a8ebfa8d4726fe8b2f28342de7e4ffe3b0d

[2017-04-18 18:52] bcamper commented on #1435
Note I allowed `tile_size` to accept a number with or without units, e.g.

`tile_size: 512`
`tile_size: 512px`

are both acceptable

[2017-04-18 18:53] tallytalwar commented on #1435
@bcamper Thanks, can add that as well on ES.

[2017-04-18 18:58] matteblair commented on #1435
Hmm why accept suffixes? If we wanted to be really explicit with the units I'd say label the field `tile_size_px`, but I don't feel like we need to bother with units at all.

[2017-04-18 19:04] bcamper commented on #1435
I just think it's more consistent with other places we accept numeric
values? While it's the only units possible, it seems like it will lessen
confusion since other parameters that take pixels use `px` (and similarly,
sometimes with default units).

On Tue, Apr 18, 2017 at 2:58 PM, Matt Blair <notifications@github.com>
wrote:

[2017-04-18 20:15] tallytalwar commented on #1415
@westnordost just tried building StreetComplete with `priority: 0` set for the `streetcomplete_quest` layer. Seems to give much better results, as the the quest icons are not colliding with other street labels.

[code]

[2017-04-18 20:25] matteblair commented on #1435
There's a much broader discussion to have here about the challenges of specifying the scene file interface, but to put it simply: I will advocate for a _stricter contract_ on the behavior of the scene file because I believe it reliably results in more consistent and predictable behavior across implementations.

For example, https://github.com/tangrams/tangram/pull/548/commits/e6537ba57e0a45083dcb2

[2017-04-18 20:29] matteblair commented on #1455
Please provide more detail about your question.

Are you using the Tangram Android SDK? What version?

What does this have to do with MBTiles?

What parts of the interface did you use?

What did you expect to happen?

What actually happened? Do you have a record of it?

[2017-04-18 20:39] westnordost commented on #1415
I also tested it myself now. This does the trick. Cool, thank you for your help and pointing out that it was in fact not a problem of tangram-es but of my style :-)

One point though: The style of `quest-icons` includes
[code]
Is it expected behavior that this does not influence collision? If yes, feel free to close this ticket.

[2017-04-18 20:39] tallytalwar commented on #1415
@westnordost Also I noticed in the `cinnabar-style-4.0.0.yaml` you are importing is an old one which explicitly specified an API key (key is not assigned to StreetComplete, and might get deprecated soon), can you update `cinnabar-style-4.0.0.yaml` to remove this api key?

[2017-04-18 20:42] westnordost commented on #1415
Sure, I will do it for the next update.

[2017-04-18 22:10] westnordost opened #1460 "Native crash at /system/vendor/lib/egl/libGLESv2_adreno.so"
I have so many users now, StreetComplete is becoming a stress test for tangram-es ;-)

So, here is another crash report I get via the Android developer console. It happened on the following devices and Android versions so far:

Android 5.0, 5.1
Devices: OnePlus One, Galaxy Note3, Galaxy S4

One user added the following comment:

[code]

[2017-04-18 22:14] westnordost commented on #1460
(added more info)

[2017-04-18 22:16] #1386 closed

[2017-04-19 08:47] hjanetzek commented on #1460
From the backtrace one cannot infer a direct relation to tangram. It could be a bug in Android's  libGLESv2_adreno.so. I've seen all kind of weird workarounds to avoid to trigger such bugs.. (e.g. google 'android 5 libgles sigsegv')

Thanks for the info though - We'll see if we can reproduce the crash and find a fix.

[2017-04-19 09:40] westnordost commented on #1460
Yeah, I thought so. I figured I just forward this to you just in case it is helpful to you, since tangram is the only component in my app that uses gles (that I know of).

On 19 April 2017 10:47:52 CEST, Hannes Janetzek <notifications@github.com> wrote:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2017-04-19 10:49] westnordost commented on #1449
Here are some more pictures from a new error report: https://github.com/westnordost/StreetComplete/issues/130

[2017-04-19 18:36] tallytalwar commented on #1415
@westnordost `blend_order` will affect ordering of features drawn using styles using `overlay` blending. This is because we can not rely on `z buffer` ordering for feature drawn with `overlay` blending.

As an example you can refer to how we use it in [here](https://github.com/tangrams/bubble-wrap/blob/gh-pages/bubble-wrap-style.yaml#L1051-L1081).

Also closing this issue.

[2017-04-19 18:36] #1415 closed

[2017-04-20 04:45] sheikh-iffi opened #1463 "Polyline marker rendering issue"
Hi guys

I am facing two problems regarding polyline marker.

First is that polyline marker doesn't take variable width. I am specifying stops in the styling string but its not working.
Second issue is that if I give an outline to polyline marker, it disappears at some levels.
In the below images, my polyline style string was:

`std::string polylineStyle = "{ style: lines, interactive: true, color

[2017-04-20 05:07] nvkelso commented on #1463
You might try modifying the nesting of the outline properties?

std::string polylineStyle = "{ style: lines, interactive: true, color: red,
width: [[10,10px], [20,60px]], order: 5000, outline: { color: blue, width:
2px } }";

On Wed, Apr 19, 2017 at 9:45 PM, Asfand <notifications@github.com> wrote:

[2017-04-20 05:19] sheikh-iffi commented on #1463
Same behavior as before. Outline vanishes after some zoom levels.
![marker4](https://cloud.githubusercontent.com/assets/12157369/25214779/c05bacd0-25b2-11e7-9671-479c68c253dd.png)
![marker5](https://cloud.githubusercontent.com/assets/12157369/25214780/c2122dec-25b2-11e7-82bc-023be0496d61.png)

[2017-04-20 09:49] ac87 commented on #1443
User error

Removing the cameras `vanishing_point: [0, -500]` fixes the offset, the global was actually commented out in the Vector variants imports.

[2017-04-20 09:49] #1443 closed

[2017-04-20 14:40] tallytalwar commented on #1463
I am able to repro this issue. Need to check more as to what is causing this to happen.

[2017-04-20 16:22] tallytalwar commented on #1463
Ahh, so marker interface is known to have this issue, its because of precision errors when marker geometry spans a large world area. Its recommended not to use marker interface when the geometry being drawn spans a large area and use the ClientDataSource (`MapData`) interface instead which tiles the data appropriately and hence does not exhibit the same precision limit issue.

You can refer to the

[2017-04-20 16:38] karimnaaji opened #1464 "Marker crash after new scene is loaded"
When we load a new scene, we rebuild all the markers against that new scene and we end up with two cases:
- a marker is attached to a style that exists in both the previously loaded and new scene,
- the marker doesn't find a new style to be built against

Inconsistency can happen in both those cases; a style can be found with the same name but have  different resources, where we result in a bad ac

[2017-04-20 16:42] tallytalwar commented on #1464
To add to @karimnaaji, we can document the behavior such that the user handles readding of any marker in the asyncSceneLoad/Update callback.

[2017-04-20 17:08] tallytalwar commented on #1463
I am not able to reproduce the issue for stops not working for line widths for marker styling.

As an example I had the following styling string: `{ style: lines, interactive: true, color: red, width: [[0,1px], [20,100px]], order: 5000 }` which got me the following results at zoom 16 and 20.5 respectively.

![screen shot 2017-04-20 at 1 04 59 pm](https://cloud.githubusercontent.com/assets/360641/2

[2017-04-20 17:09] tallytalwar commented on #1463
Kindly update if this doesn't work for you. Else we can close this issue in favor of #994 to discuss/address the precision issues with marker drawing.

[2017-04-20 20:09] #1321 closed

[2017-04-21 05:29] sheikh-iffi commented on #1463
I used your styling string but the problem is still here
![marker2](https://cloud.githubusercontent.com/assets/12157369/25263942/b7404776-267c-11e7-96ef-63e53275b664.png)
![marker1](https://cloud.githubusercontent.com/assets/12157369/25263943/b7f10df4-267c-11e7-9f53-d24dfec2188d.png)

But when I draw small polyline markers then i can see that width is changing
![marker3](https://cloud.githubuserco

[2017-04-21 11:29] sheikh-iffi commented on #1463
@tallytalwar as per your suggestion I used ClientDataSource (MapData) to draw my polyline but there is a problem with it as well. Polyline breaks or vanishes at some point by zooming in.

Line is there at this level:
![screenshot_20170421-161831](https://cloud.githubusercontent.com/assets/12157369/25275479/ee5af206-26ae-11e7-8f82-c0ea4c0cac56.png)

Line vanishes on zooming in.
![screenshot_2017042

[2017-04-24 15:57] Guillaume227 opened #1473 "assert crash with applySceneUpdates and sceneAssets"
I am hitting the assert at sceneLoader.cpp:587 following a call to applySceneUpdates();
That's because it's looking for a texture url in scene->sceneAssets().
That texture asset was properly loaded during the loading of the scene.
However that line at he end of in SceneLoader::loadScene:
`    _scene->sceneAssets().clear();
`
clears the loaded assets.

I am trying to understand the logic of calling

[2017-04-24 16:59] tallytalwar commented on #1473
Yup, this seems to be a bug in the recently merged PR (https://github.com/tangrams/tangram-es/pull/1373) which does not handle scene assets loaded from initial scene load aptly when applying scene updated.

Since this PR was merged after 0.6.1 release, this bug does not manifests in any of tangram-es official releases.

[2017-04-24 18:20] matteblair commented on #1455
Closed due to inactivity

[2017-04-24 18:20] #1455 closed

[2017-04-24 19:53] fokin33 opened #1474 "Error in libtangram.so (_ZN7Tangram6Labels18processLabelUpdateERKNS_9ViewStateEPNS_10StyledMeshEPNS_4TileERKN3glm7tmat4x4IfLNS8_9precisionE0EEEfbbb+763)"
Build fingerprint: 'asus/WW_P01Y/P01Y:5.0.2/LRX22G/WW_ZenPad-12.26.4.66-20161201:user/release-keys'
Revision: '0'
ABI: 'x86'
pid: 11129, tid: 12640, name: GLThread 1471  >>> com.OsMoDroidV <<<
signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x68
    eax 5bb5ce20  ebx 5e7bdc70  ecx 00000000  edx 61ebf6d8
    esi 5face594  edi 5ddfaf80
    xcs 00000073  xds 0000007b  xes 0000007b  xfs 0000011f

[2017-04-24 20:04] hjanetzek commented on #1474
Hi! Which tangram version are you using?

[2017-04-24 20:05] matteblair commented on #1474
Hi @fokin33, thanks for the crash report. A few questions:
 - What version of tangram were you using when you encountered this crash?
 - What were you doing at the time that this crash happened?
 - Are you able to make the same crash happen by doing the same thing?

If you can make a crash like this happen again, please check the log and tell us whether the backtrace is the same as this or differe

[2017-04-24 21:22] fokin33 commented on #1474
Tangram 0.6.0

Message from user in Play Console:
---
ZenPad C 7.0 (Z170CG) (P01Y)
Hallo!When i change the map,GL stop.Will try with another device but later!Best Regards!
---
Change of map is probably change of style. (mapController.loadSceneFile)
I can not reproduce this situation on my own devices.

It repeat 4 times:
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
Build fingerp

[2017-04-24 23:35] matteblair opened #1477 "Implement label centroid generation"
A data source can specify a Boolean parameter `generate_label_centroids`. When this is `true`, the data source should generate a new point geometry for every polygon, as described here: https://mapzen.com/documentation/tangram/sources/#generate_label_centroids

[2017-04-25 01:52] tschesnok commented on #1411
This seems to still be broken under RPI 26 days later. I can see that main.cpp under RPI calls #include "platform_linux.h" which is only in the Platforms/Linux directory. So is the build / makefile for RPI broken? Any ideas???

[2017-04-25 04:13] tschesnok opened #1478 "RPI Main.cpp app does not build"
I believe I have been successful in building the entire library. Unfortunately RPIs main.cpp has been broken for some time. I'm not skilled enough to figure this out other than the fact that changes for other platforms killed off the RPI demo app.

This may not be a hard fix. RPI probably just needs a new main.cpp which is modelled after one of the other working platforms.

this relates to https:/

[2017-04-25 12:52] hjanetzek commented on #1411
@cphBV @tschesnok could you test if this builds on the pi? https://github.com/tangrams/tangram-es/pull/1479 I don't have a rpi at hand right now.

[2017-04-25 15:02] tschesnok commented on #1411
I will check in a bit later today. I'm on SF time. Many thanks for the
effort.

On Tue, Apr 25, 2017 at 5:52 AM, Hannes Janetzek <notifications@github.com>
wrote:

--

This email is for discussion purposes only and is not a binding contract

[2017-04-25 15:57] tschesnok commented on #1411
It Builds and Works!!!

Many thanks. There seems to be an issue with the keyboard input.. I can
only hit a key once (say "w" or "a") and then it will not accept another
key stroke unless it is a different one (like I can only move by
alternating keys.. can't type w w w to move.. only w a w a) ... I'm sure I
can fix this but you may want to take a quick look at that. I'm happy to
let you know when

[2017-04-25 16:56] tschesnok commented on #1411
Hannes,

also figured out the keyboard bug:

in context.h (RPI) I commented out the check for keyPressed.. now it works
great. Not sure what someone was thinking here.. perhaps looking for a "key
released" on other platforms.

void updateGL() {
    updateMouse();

    int key = getKey();
    if ( key != -1 /*&& key != keyPressed*/ ){
        keyPressed = key;
        onKeyPress(key);
    }
}

I'm

[2017-04-25 17:24] hjanetzek commented on #1474
@fokin33 thanks! - Are you using markers and if so how do you define their styling? In combination with scene reloading I think I've found a bug that could lead to this crash. I'm working on it.

[2017-04-25 19:31] fokin33 commented on #1474
Yes, markers styles is defined like about:
public static final String DEFAULT_STYLE = "style: 'points', interactive: true,  size: [20px, 20px], collide: false";
        public static final String LOCATION_STYLE = "style: 'points',  size: [36px, 36px], collide: false";
...
 textMarker.setStylingFromString("{ style: 'text', text_wrap: 18, max_lines: 3 ,text_source: \"function() { return '"+ dev.name

[2017-04-26 01:10] tschesnok commented on #1478
This has been resolved with this: https://github.com/tangrams/tangram-es/pull/1479

[2017-04-26 01:10] #1478 closed

[2017-04-26 01:40] tschesnok opened #1481 "Linker Hell.. not a bug.. but need help please! :)"
Is there are definitive link order for the lib files? Do I need to link with more than just the 13 libxxx.a files in /build/rpi/lib???

Background:

First: AWESOME! Tangrams-es on the RPI is AMAZING. Super Fast. Very nice work!

I have the full lib and demo "main.cpp" building and running for the RPI.

I am now trying to use it with my own project. It builds. but I'm getting linker hell. If I don'

[2017-04-26 13:36] bcamper commented on #1435
Fair point about the JS implementation accepting weird string values -- that was sloppy :)

However, I'm less convinced it makes sense to deviate from other places where we accept pixel-unit values. As far as I'm aware, those all accept either explicit units (`16px`) or have default units (which can be meters or pixels depending on the parameter). None of those include units in the parameter name

[2017-04-26 16:56] tschesnok commented on #1481
Got it working.. If anyone else wants help on this hit me up..

[2017-04-26 16:56] #1481 closed

[2017-04-26 17:02] hjanetzek commented on #1481
It would easier with linking when you build tangram as a shared library.
e.g. this may work when added to toolchains/raspberrypi.cmake
[code]

[2017-04-26 18:30] tschesnok opened #1483 "Error Loading Shader"
Main.cpp Demo App works fine - no errors.

Got my own app to build, link and run on RPI but am getting the following errors during startup:
ERROR shaderProgram.cpp:83: Shader compilation failed for
ERROR hardware.cpp:51: glGetString( GL_EXTENSIONS ) returned NULL
TANGRAM hardware.cpp:77: Hardware max texture size 22959476
TANGRAM hardware.cpp:78: Hardware max combined texture units 22959476
TANGRA

[2017-04-26 18:55] matteblair commented on #1483
From the GL errors here, it sounds like there isn't a valid GL context when that app is running. It's hard to say more about why that would happen without knowing what code is in your app.

Tangram-es has some GLSL shaders that are built into the map rendering pipeline and, as you noticed, they are translated into "data headers" using a CMake script. These shaders interact with our pipeline in ver

[2017-04-26 19:16] tschesnok commented on #1483
Many thanks for the tip.. I will look into when / how I create a GL context.

[2017-04-26 19:49] matteblair commented on #1435
Sprite definitions, for instance, allow only numeric values with no units, because there is only one rational unit to use. This seems like a similar case.

[2017-04-26 19:51] matteblair commented on #1435
If we were to define and follow a specific format for value-plus-optional-unit fields throughout the scene file, I would feel a lot better about using them!

[2017-04-26 20:00] tschesnok commented on #1483
That did the trick! Many thanks!

[2017-04-26 20:00] #1483 closed

[2017-04-27 00:18] tschesnok opened #1484 "Rendering Maps to off-screen render targets rather than current screen surface"
Sorry for my new to tangrams questions. I'm unclear if I am able to pass in a non screen render target to render the map. It seems to default to the current screen surface as the render target. I never set anything other than make sure I have generated a valid context (and I don't hand that over either) (My background is DX - so I may be a little clueless)

Currently I setup the window, surface an

[2017-04-27 13:18] bcamper commented on #1435
What do you think is lacking in that regard now? e.g. which are the places where you see inconsistency, is that in response to my comment on JS allowing whitespace trimming (reasonable to remove) or other?

[2017-04-27 18:48] matteblair commented on #1435
I think we're actually _mostly_ following consistent rules for value-plus-optional-unit and I was just unclear about these rules because they're not explicitly stated anywhere. Here's what happens now when I use the following values for the `width` of a `lines` rule:

| Width | Tangram Play result | Tangram ES result |
|-------|---------------------|--------------------|
| 1 | 1 meter width | same

[2017-04-28 01:13] tschesnok commented on #1484
Sorry.. Clearly I'm new to OpenGL. Problem solved with setting up a FrameBufferObject as the render target prior to a map render call.

[2017-04-28 01:13] #1484 closed

[2017-04-28 21:18] tallytalwar commented on #1309
@ivangorelow whats the corresponding scene file you are using with the above mentioned mbtiles dataset?

[2017-04-28 22:23] matteblair commented on #1411
The original issue here seems to be resolved, so I'm going to close this. Problems or suggestions with other parts of the code are welcome in a new issue!

[2017-04-28 22:23] #1411 closed

[2017-05-03 18:06] bcamper commented on #1435
I dunno, your sprite example is a good one... I'm wavering :)

[2017-05-04 09:00] JunsuLime opened #1488 "Marker blinking problem in android"
When I call mapController.setPosition(..),  sometimes maker disappear or blink or  its shape is broken

At 0.5.1, this phenomenon  does not occur.
And I upgrade version 0.6.1, this problem come out.

[2017-05-04 20:06] #1362 closed

[2017-05-04 22:41] westnordost commented on #1460
Since the last update, this crash was not reported anymore. I think it might have been fixed with #1469

[2017-05-04 22:41] #1460 closed

[2017-05-04 22:41] westnordost commented on #1449
Oh, forgot to close it. The newest version fixed the problem

[2017-05-04 22:41] #1449 closed

[2017-05-05 10:25] rugk commented on #1222
Really? Still not planned?

This is really an essential feature for all applications, which have many markers…
And instead of just hiding the markers (which results in users missing these) they should be "grouped together".

[2017-05-05 12:00] sheikh-iffi commented on #1463
@tallytalwar I was debugging to see where is the problem when polyline marker spans a large area and found out that the width equals to zero due to rounding. When width is zero, mesh is not recreated. I tried to remove rounding off and changed data type from int to float but that created new problems.

About  ClientDataSource (MapData), I am still trying to figure out why some lines vanishes. Have

[2017-05-05 15:01] tallytalwar commented on #1463
@sheikh-iffi Thanks for debugging this. With markers we are aware of the precision loss, hence I recommended to use ClientDataSource. For markers we will have to rethink our implementation approach to solve the underlying precision issues which creep in when dealing with large geographical extent of a marker geometry.

I still have to debug the issue you showed above with ClientDataSource(s) havin

[2017-05-05 15:23] hjanetzek commented on #1488
Hi @JunsuLime - this issue is probably fixed in 0.6.2 release. Please report back if the issue still exists

[2017-05-05 21:49] westnordost opened #1492 "screenPositionToLngLat or getZoom return wrong data"
So, here is a bug I have been hunting down for a while. It seems to be almost impossible to reproduce, but in StreetComplete 0.8 I added some fail-fast logging with which I was able to track it down a bit. Now, it seems that `MapController.screenPositionToLngLat` is very seldomly returning data that is inconsistent to `MapController.getZoom`. I'll leave the details how this affects my app aside an

[2017-05-08 14:07] hjanetzek commented on #1492
It's possible that the map view position gets updated on the GL thread between calls to `screenPositionToLngLat` and `getZoom`. To make sure that all values returned are for the same view you should synchronize this block on the `MapController` object

[code]

And, yes, this needs better documentation..

[2017-05-08 17:57] westnordost commented on #1492
Ah, I see. I'll not close this issue in case you want to use it as a reminder to add a sentence to the documentation there, but I don't mind if you do.

[2017-05-09 14:04] lygstate commented on #1435
Are that 1024px are possible?

[2017-05-09 14:58] matteblair commented on #1435
@lygstate Yes, this would allow 1024 pixel tiles in the same way.

[2017-05-09 15:18] lygstate commented on #1435
@matteblair I am thinking about generating 1024 pixel tiles in tilzen. So ther would be only 14 zoom level, and there is a possibility to pre-generating all the tiles into mbtiles.

[2017-05-09 20:21] tallytalwar commented on #1452
Some of the work being done here: https://github.com/tangrams/tangram-es/pull/1466 (cc. @karimnaaji)

[2017-05-09 20:21] tallytalwar commented on #1442
Some of the work being done here: https://github.com/tangrams/tangram-es/pull/1466 (cc. @karimnaaji)

[2017-05-10 21:22] matteblair commented on #1365
This is resolved by #1495 and will be available in the next release.

[2017-05-11 18:41] #1473 closed

[2017-05-11 20:18] Guillaume227 commented on #1473
@tallytalwar : thank you !

[2017-05-11 23:06] nvkelso commented on #1435
@lygstate That should be possible in Tilezen by setting a larger `metatile` size, but we haven't tried it ourselves yet so there are likely to be some performance tuning &/or other gotchas we can help you thru.

[2017-05-13 22:18] westnordost opened #1499 "Geometry added with GeoJson flicker depending on zoom level"
I add line geometry which is directly derived from OSM data as a new layer to the map (`geometryLayer.addPolyline`), using an own style to render it half-transparently.

Some users are reporting the following effect when zooming in and out. See this video for an illustration:
https://files.natenom.com/nidx/nobackup/bug204.mp4

I myself can not reproduce it, but what I can reproduce is that section

[2017-05-13 22:43] westnordost commented on #1499
The video was made with LineageOS 14.1, Android 7.1.2 on a Samsung Galaxy S5.

[2017-05-14 13:46] westnordost opened #1500 "Node images become invisible on certain zoom levels"
This is not a duplicate of #1415, as that issue was solved by adding priority:0 to the draw rule in question. Now with tangram-es 0.6.2, some people are experiencing the same bug, but with the right priority already set in the draw rule. I cannot say of course if this behavior existed before 0.6.2, it also does not appear too often.

Note the red marker with the question mark. It vanishes at a cer